<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.agent.AgentBindRecorderMapper">
  <resultMap id="BaseResultMap" type="com.lx.benefits.bean.entity.agent.AgentBindRecorder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="agent_id" jdbcType="INTEGER" property="agentId" />
    <result column="parent_agent_id" jdbcType="INTEGER" property="parentAgentId" />
    <result column="parent_agent_name" jdbcType="VARCHAR" property="parentAgentName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="bind_remark" jdbcType="VARCHAR" property="bindRemark" />
    <result column="bind_time" jdbcType="TIMESTAMP" property="bindTime" />
    <result column="unbind_remark" jdbcType="VARCHAR" property="unbindRemark" />
    <result column="unbind_time" jdbcType="TIMESTAMP" property="unbindTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, agent_id, parent_agent_id, parent_agent_name, status, bind_remark, bind_time, 
    unbind_remark, unbind_time
  </sql>
  <select id="selectByExample" parameterType="com.lx.benefits.bean.entity.agent.AgentBindRecorderCondition" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from agent_bind_recorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from agent_bind_recorder
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from agent_bind_recorder
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lx.benefits.bean.entity.agent.AgentBindRecorderCondition">
    delete from agent_bind_recorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lx.benefits.bean.entity.agent.AgentBindRecorder">
    insert into agent_bind_recorder (id, agent_id, parent_agent_id, 
      parent_agent_name, status, bind_remark, 
      bind_time, unbind_remark, unbind_time
      )
    values (#{id,jdbcType=INTEGER}, #{agentId,jdbcType=INTEGER}, #{parentAgentId,jdbcType=INTEGER}, 
      #{parentAgentName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{bindRemark,jdbcType=VARCHAR}, 
      #{bindTime,jdbcType=TIMESTAMP}, #{unbindRemark,jdbcType=VARCHAR}, #{unbindTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lx.benefits.bean.entity.agent.AgentBindRecorder">
    insert into agent_bind_recorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="agentId != null">
        agent_id,
      </if>
      <if test="parentAgentId != null">
        parent_agent_id,
      </if>
      <if test="parentAgentName != null">
        parent_agent_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="bindRemark != null">
        bind_remark,
      </if>
      <if test="bindTime != null">
        bind_time,
      </if>
      <if test="unbindRemark != null">
        unbind_remark,
      </if>
      <if test="unbindTime != null">
        unbind_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=INTEGER},
      </if>
      <if test="parentAgentId != null">
        #{parentAgentId,jdbcType=INTEGER},
      </if>
      <if test="parentAgentName != null">
        #{parentAgentName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="bindRemark != null">
        #{bindRemark,jdbcType=VARCHAR},
      </if>
      <if test="bindTime != null">
        #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="unbindRemark != null">
        #{unbindRemark,jdbcType=VARCHAR},
      </if>
      <if test="unbindTime != null">
        #{unbindTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lx.benefits.bean.entity.agent.AgentBindRecorderCondition" resultType="java.lang.Long">
    select count(*) from agent_bind_recorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update agent_bind_recorder
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.agentId != null">
        agent_id = #{record.agentId,jdbcType=INTEGER},
      </if>
      <if test="record.parentAgentId != null">
        parent_agent_id = #{record.parentAgentId,jdbcType=INTEGER},
      </if>
      <if test="record.parentAgentName != null">
        parent_agent_name = #{record.parentAgentName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.bindRemark != null">
        bind_remark = #{record.bindRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.bindTime != null">
        bind_time = #{record.bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.unbindRemark != null">
        unbind_remark = #{record.unbindRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.unbindTime != null">
        unbind_time = #{record.unbindTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update agent_bind_recorder
    set id = #{record.id,jdbcType=INTEGER},
      agent_id = #{record.agentId,jdbcType=INTEGER},
      parent_agent_id = #{record.parentAgentId,jdbcType=INTEGER},
      parent_agent_name = #{record.parentAgentName,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      bind_remark = #{record.bindRemark,jdbcType=VARCHAR},
      bind_time = #{record.bindTime,jdbcType=TIMESTAMP},
      unbind_remark = #{record.unbindRemark,jdbcType=VARCHAR},
      unbind_time = #{record.unbindTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lx.benefits.bean.entity.agent.AgentBindRecorder">
    update agent_bind_recorder
    <set>
      <if test="agentId != null">
        agent_id = #{agentId,jdbcType=INTEGER},
      </if>
      <if test="parentAgentId != null">
        parent_agent_id = #{parentAgentId,jdbcType=INTEGER},
      </if>
      <if test="parentAgentName != null">
        parent_agent_name = #{parentAgentName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="bindRemark != null">
        bind_remark = #{bindRemark,jdbcType=VARCHAR},
      </if>
      <if test="bindTime != null">
        bind_time = #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="unbindRemark != null">
        unbind_remark = #{unbindRemark,jdbcType=VARCHAR},
      </if>
      <if test="unbindTime != null">
        unbind_time = #{unbindTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lx.benefits.bean.entity.agent.AgentBindRecorder">
    update agent_bind_recorder
    set agent_id = #{agentId,jdbcType=INTEGER},
      parent_agent_id = #{parentAgentId,jdbcType=INTEGER},
      parent_agent_name = #{parentAgentName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      bind_remark = #{bindRemark,jdbcType=VARCHAR},
      bind_time = #{bindTime,jdbcType=TIMESTAMP},
      unbind_remark = #{unbindRemark,jdbcType=VARCHAR},
      unbind_time = #{unbindTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>