<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.agent.AgentBlackGoodsMapper">
 <select id="getBlackGoodsByEnterprId" resultMap="BaseResultMap">
 	SELECT agent_black_goods.*
	FROM enterpr_user_info enterpr
		LEFT JOIN agent_account_info agent ON enterpr.agent_id = agent.id and enterpr.agent_id != 0
		LEFT JOIN agent_level ON agent.agent_level = agent_level.id
		LEFT JOIN agent_black_goods ON agent_level.rebate_type = agent_black_goods.rebate_type
	WHERE enterpr.agent_id != 0 AND agent_black_goods.rebate_type IS NOT NULL 
		and enterpr.enterpr_id=#{enterprId};
 </select>
 <select id="getEnterprIdsByRebateType" resultType="java.lang.Long">
 	select enterpr.enterpr_id 
 	from agent_black_goods
 		left join agent_level on agent_level.rebate_type = agent_black_goods.rebate_type
 		left join agent_account_info agent on agent.agent_level = agent_level.id
 		left join enterpr_user_info enterpr on enterpr.agent_id = agent.id and enterpr.agent_id != 0
 		where enterpr.enterpr_id is not null and agent_black_goods.rebate_type=#{rebateType}
 </select>
</mapper>