<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.memberdetail.MemberDetailMapper">
  <resultMap id="BaseResultMap" type="com.lx.benefits.bean.entity.memberdetail.MemberDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="true_name" jdbcType="VARCHAR" property="true_name" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatar_url" />
    <result column="pic_a" jdbcType="VARCHAR" property="pic_a" />
    <result column="pic_b" jdbcType="VARCHAR" property="pic_b" />
    <result column="is_certificate_check" jdbcType="TINYINT" property="is_certificate_check" />
    <result column="verify_status" jdbcType="INTEGER" property="verify_status" />
    <result column="registry_platform" jdbcType="INTEGER" property="registry_platform" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="baby_birth_hospital" jdbcType="VARCHAR" property="baby_birth_hospital" />
    <result column="certificate_type" jdbcType="INTEGER" property="certificate_type" />
    <result column="certificate_value" jdbcType="VARCHAR" property="certificate_value" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modify_time" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="delete_time" />
    <result column="is_delete" jdbcType="TINYINT" property="is_delete" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="last_login_time" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="last_login_ip" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, uid, birthday, true_name, avatar_url, pic_a, pic_b, is_certificate_check, verify_status, 
    registry_platform, address, baby_birth_hospital, certificate_type, certificate_value, 
    create_time, modify_time, delete_time, is_delete, last_login_time, last_login_ip
  </sql>
  <select id="selectByExample" parameterType="com.lx.benefits.bean.entity.memberdetail.MemberDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mem_member_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null and pageSize != null">
      LIMIT #{page}, #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mem_member_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mem_member_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lx.benefits.bean.entity.memberdetail.MemberDetailExample">
    delete from mem_member_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lx.benefits.bean.entity.memberdetail.MemberDetail">
    insert into mem_member_detail (id, uid, birthday, 
      true_name, avatar_url, pic_a, 
      pic_b, is_certificate_check, verify_status, 
      registry_platform, address, baby_birth_hospital, 
      certificate_type, certificate_value, create_time, 
      modify_time, delete_time, is_delete, 
      last_login_time, last_login_ip)
    values (#{id,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{birthday,jdbcType=TIMESTAMP}, 
      #{true_name,jdbcType=VARCHAR}, #{avatar_url,jdbcType=VARCHAR}, #{pic_a,jdbcType=VARCHAR}, 
      #{pic_b,jdbcType=VARCHAR}, #{is_certificate_check,jdbcType=TINYINT}, #{verify_status,jdbcType=INTEGER}, 
      #{registry_platform,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{baby_birth_hospital,jdbcType=VARCHAR}, 
      #{certificate_type,jdbcType=INTEGER}, #{certificate_value,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, 
      #{modify_time,jdbcType=TIMESTAMP}, #{delete_time,jdbcType=TIMESTAMP}, #{is_delete,jdbcType=TINYINT}, 
      #{last_login_time,jdbcType=TIMESTAMP}, #{last_login_ip,jdbcType=VARCHAR})
  </insert>

  <!-- 批量插入员工信息 -->
  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO mem_member_detail(uid, birthday, true_name, create_time, modify_time, is_delete) VALUES
    <foreach collection="memberDetailList" item="memberDetail" index="index" separator=",">
      (#{memberDetail.uid}, #{memberDetail.birthday}, #{memberDetail.true_name}, NOW(), NOW(), 0)
    </foreach>
  </insert>
  
  
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.lx.benefits.bean.entity.memberdetail.MemberDetail">
    insert into mem_member_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="true_name != null">
        true_name,
      </if>
      <if test="avatar_url != null">
        avatar_url,
      </if>
      <if test="pic_a != null">
        pic_a,
      </if>
      <if test="pic_b != null">
        pic_b,
      </if>
      <if test="is_certificate_check != null">
        is_certificate_check,
      </if>
      <if test="verify_status != null">
        verify_status,
      </if>
      <if test="registry_platform != null">
        registry_platform,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="baby_birth_hospital != null">
        baby_birth_hospital,
      </if>
      <if test="certificate_type != null">
        certificate_type,
      </if>
      <if test="certificate_value != null">
        certificate_value,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="modify_time != null">
        modify_time,
      </if>
      <if test="delete_time != null">
        delete_time,
      </if>
      <if test="is_delete != null">
        is_delete,
      </if>
      <if test="last_login_time != null">
        last_login_time,
      </if>
      <if test="last_login_ip != null">
        last_login_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="true_name != null">
        #{true_name,jdbcType=VARCHAR},
      </if>
      <if test="avatar_url != null">
        #{avatar_url,jdbcType=VARCHAR},
      </if>
      <if test="pic_a != null">
        #{pic_a,jdbcType=VARCHAR},
      </if>
      <if test="pic_b != null">
        #{pic_b,jdbcType=VARCHAR},
      </if>
      <if test="is_certificate_check != null">
        #{is_certificate_check,jdbcType=TINYINT},
      </if>
      <if test="verify_status != null">
        #{verify_status,jdbcType=INTEGER},
      </if>
      <if test="registry_platform != null">
        #{registry_platform,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="baby_birth_hospital != null">
        #{baby_birth_hospital,jdbcType=VARCHAR},
      </if>
      <if test="certificate_type != null">
        #{certificate_type,jdbcType=INTEGER},
      </if>
      <if test="certificate_value != null">
        #{certificate_value,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_time != null">
        #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="delete_time != null">
        #{delete_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_delete != null">
        #{is_delete,jdbcType=TINYINT},
      </if>
      <if test="last_login_time != null">
        #{last_login_time,jdbcType=TIMESTAMP},
      </if>
      <if test="last_login_ip != null">
        #{last_login_ip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lx.benefits.bean.entity.memberdetail.MemberDetailExample" resultType="java.lang.Integer">
    select count(*) from mem_member_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mem_member_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.birthday != null">
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.true_name != null">
        true_name = #{record.true_name,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar_url != null">
        avatar_url = #{record.avatar_url,jdbcType=VARCHAR},
      </if>
      <if test="record.pic_a != null">
        pic_a = #{record.pic_a,jdbcType=VARCHAR},
      </if>
      <if test="record.pic_b != null">
        pic_b = #{record.pic_b,jdbcType=VARCHAR},
      </if>
      <if test="record.is_certificate_check != null">
        is_certificate_check = #{record.is_certificate_check,jdbcType=TINYINT},
      </if>
      <if test="record.verify_status != null">
        verify_status = #{record.verify_status,jdbcType=INTEGER},
      </if>
      <if test="record.registry_platform != null">
        registry_platform = #{record.registry_platform,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.baby_birth_hospital != null">
        baby_birth_hospital = #{record.baby_birth_hospital,jdbcType=VARCHAR},
      </if>
      <if test="record.certificate_type != null">
        certificate_type = #{record.certificate_type,jdbcType=INTEGER},
      </if>
      <if test="record.certificate_value != null">
        certificate_value = #{record.certificate_value,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modify_time != null">
        modify_time = #{record.modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delete_time != null">
        delete_time = #{record.delete_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.is_delete != null">
        is_delete = #{record.is_delete,jdbcType=TINYINT},
      </if>
      <if test="record.last_login_time != null">
        last_login_time = #{record.last_login_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.last_login_ip != null">
        last_login_ip = #{record.last_login_ip,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mem_member_detail
    set id = #{record.id,jdbcType=BIGINT},
      uid = #{record.uid,jdbcType=BIGINT},
      birthday = #{record.birthday,jdbcType=TIMESTAMP},
      true_name = #{record.true_name,jdbcType=VARCHAR},
      avatar_url = #{record.avatar_url,jdbcType=VARCHAR},
      pic_a = #{record.pic_a,jdbcType=VARCHAR},
      pic_b = #{record.pic_b,jdbcType=VARCHAR},
      is_certificate_check = #{record.is_certificate_check,jdbcType=TINYINT},
      verify_status = #{record.verify_status,jdbcType=INTEGER},
      registry_platform = #{record.registry_platform,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      baby_birth_hospital = #{record.baby_birth_hospital,jdbcType=VARCHAR},
      certificate_type = #{record.certificate_type,jdbcType=INTEGER},
      certificate_value = #{record.certificate_value,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      modify_time = #{record.modify_time,jdbcType=TIMESTAMP},
      delete_time = #{record.delete_time,jdbcType=TIMESTAMP},
      is_delete = #{record.is_delete,jdbcType=TINYINT},
      last_login_time = #{record.last_login_time,jdbcType=TIMESTAMP},
      last_login_ip = #{record.last_login_ip,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lx.benefits.bean.entity.memberdetail.MemberDetail">
    update mem_member_detail
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="true_name != null">
        true_name = #{true_name,jdbcType=VARCHAR},
      </if>
      <if test="avatar_url != null">
        avatar_url = #{avatar_url,jdbcType=VARCHAR},
      </if>
      <if test="pic_a != null">
        pic_a = #{pic_a,jdbcType=VARCHAR},
      </if>
      <if test="pic_b != null">
        pic_b = #{pic_b,jdbcType=VARCHAR},
      </if>
      <if test="is_certificate_check != null">
        is_certificate_check = #{is_certificate_check,jdbcType=TINYINT},
      </if>
      <if test="verify_status != null">
        verify_status = #{verify_status,jdbcType=INTEGER},
      </if>
      <if test="registry_platform != null">
        registry_platform = #{registry_platform,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="baby_birth_hospital != null">
        baby_birth_hospital = #{baby_birth_hospital,jdbcType=VARCHAR},
      </if>
      <if test="certificate_type != null">
        certificate_type = #{certificate_type,jdbcType=INTEGER},
      </if>
      <if test="certificate_value != null">
        certificate_value = #{certificate_value,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_time != null">
        modify_time = #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="delete_time != null">
        delete_time = #{delete_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_delete != null">
        is_delete = #{is_delete,jdbcType=TINYINT},
      </if>
      <if test="last_login_time != null">
        last_login_time = #{last_login_time,jdbcType=TIMESTAMP},
      </if>
      <if test="last_login_ip != null">
        last_login_ip = #{last_login_ip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lx.benefits.bean.entity.memberdetail.MemberDetail">
    update mem_member_detail
    set uid = #{uid,jdbcType=BIGINT},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      true_name = #{true_name,jdbcType=VARCHAR},
      avatar_url = #{avatar_url,jdbcType=VARCHAR},
      pic_a = #{pic_a,jdbcType=VARCHAR},
      pic_b = #{pic_b,jdbcType=VARCHAR},
      is_certificate_check = #{is_certificate_check,jdbcType=TINYINT},
      verify_status = #{verify_status,jdbcType=INTEGER},
      registry_platform = #{registry_platform,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      baby_birth_hospital = #{baby_birth_hospital,jdbcType=VARCHAR},
      certificate_type = #{certificate_type,jdbcType=INTEGER},
      certificate_value = #{certificate_value,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      modify_time = #{modify_time,jdbcType=TIMESTAMP},
      delete_time = #{delete_time,jdbcType=TIMESTAMP},
      is_delete = #{is_delete,jdbcType=TINYINT},
      last_login_time = #{last_login_time,jdbcType=TIMESTAMP},
      last_login_ip = #{last_login_ip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>