<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.mem.MessageSendMapper">
	<resultMap type="com.lx.benefits.bean.entity.mem.MessageSend" id="messageSend">
				<id column="id" property="id"/>
				<result column="platform" property="platform"/>
				<result column="message_id" property="messageId"/>
				<result column="state" property="state"/>
				<result column="template_code" property="templateCode"/>
				<result column="sms_count" property="smsCount"/>
				<result column="receiver" property="receiver"/>
				<result column="receive_time" property="receiveTime"/>
				<result column="err_code" property="errCode"/>
				<result column="err_detail" property="errDetail"/>
				<result column="remark" property="remark"/>
				<result column="create_time" property="createTime"/>
				<result column="update_time" property="updateTime"/>
				<result column="content" property="content"/>
				<result column="send_time" property="sendTime"/>
				<result column="biz_id" property="bizId"/>
	</resultMap>
	
	<sql id="columns">
		id,platform,message_id,state,template_code,sms_count,receiver,receive_time,err_code,err_detail,remark,create_time,update_time,content,send_time,biz_id
	</sql>
	
	<sql id="whereWithLike"><!-- xml转义字符需要 <![CDATA[   ]]> 标签-->
		<where>
			<if test="id != null ">  id=#{id} </if>
			<if test="platform != null  and platform != '' "> AND platform = #{platform} </if>
			<if test="messageId != null"> AND message_id=#{messageId} </if>
			<if test="state != null"> AND state=#{state} </if>
			<if test="templateCode != null  and templateCode != '' "> AND template_code = #{templateCode} </if>
			<if test="smsCount != null  and smsCount != '' "> AND sms_count = #{smsCount} </if>
			<if test="receiver != null "> AND receiver=#{receiver} </if>
			<if test="errCode != null and errCode != '' "> AND err_code=#{errCode} </if>
			<if test="content != null and content != '' "> AND content=#{content} </if>
		</where>
	</sql>
		<select id="selectDynamicPageQueryWithLike" resultMap="messageSend" parameterType="com.lx.benefits.bean.entity.mem.MessageSend">
		SELECT
		<include refid="columns" />
		FROM
		mem_message_send
		<include refid="whereWithLike" />
		
		Limit #{startPage},#{pageSize}
	</select>
	
	<select id="selectCountWithLike" resultType="long" parameterType="com.lx.benefits.bean.entity.mem.MessageSend">
		SELECT
		count(1)
		FROM
		mem_message_send
		<include refid="whereWithLike" />
	</select>

	<select id="queryByParam" resultMap="messageSend">
		SELECT
		<include refid="columns" />
		FROM
		mem_message_send
		<include refid="whereWithLike" />
	</select>


	<insert id="insert" parameterType="com.lx.benefits.bean.entity.mem.MessageSend" useGeneratedKeys="true" keyProperty="id">
		insert into mem_message_send
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="platform != null   ">platform,</if>
			<if test="messageId != null  and messageId != ''">message_id,</if>
			<if test="state != null ">state,</if>
			<if test="templateCode != null and  templateCode!= '' ">template_code,</if>
			<if test="smsCount != null ">sms_count,</if>
			<if test="receiver != null   ">receiver,</if>
			<if test="receiveTime != null  ">receive_time,</if>
			<if test="errCode != null   ">err_code,</if>
			<if test="errDetail != null  and errDetail != ''  ">err_detail,</if>
			<if test="remark != null  ">remark,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="content != null and content != '' ">content,</if>
			<if test="sendTime != null  and sendTime != ''  ">send_time,</if>
			<if test="bizId != null  and bizId != ''  ">biz_id,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="platform != null  ">#{platform},</if>
			<if test="messageId != null  and messageId != ''"> #{messageId},</if>
			<if test="state != null ">#{state},</if>
			<if test="templateCode != null  ">#{templateCode},</if>
			<if test="smsCount != null ">#{smsCount},</if>
			<if test="receiver != null   ">#{receiver},</if>
			<if test="receiveTime != null ">#{receiveTime},</if>
			<if test="errCode != null   ">#{errCode},</if>
			<if test="errDetail != null  and errDetail != ''  ">#{errDetail},</if>
			<if test="remark != null   ">#{remark},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="content != null and content != ''  ">#{content},</if>
			<if test="sendTime != null ">#{sendTime},</if>
			<if test="bizId != null ">#{bizId},</if>
		</trim>
		<selectKey keyColumn="spu_code" resultType="long" keyProperty="spuCode" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>


	<update id="updateById" parameterType="com.lx.benefits.bean.entity.mem.MessageSend">
		update mem_message_send
		<trim prefix="SET" suffixOverrides=",">
			<if test="errDetail != null  and errDetail != ''  ">err_detail = #{errDetail},</if>
			<if test="errCode != null  ">err_ode = #{errCode},</if>
			<if test="state != null  ">state = #{state},</if>
			<if test="updatedTime != null  ">updated_time = #{updatedTime},</if>
		</trim>
		where id = #{id}
	</update>

	<select id="queryById" resultMap="messageSend">
		SELECT
		<include refid="columns" />
		FROM
		mem_message_send where  id = #{id}
	</select>
</mapper>