<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.supplierInfo.SupplierInfoMapper">
    <resultMap id="BaseResultMap" type="com.lx.benefits.bean.entity.supplierInfo.SupplierInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="alias" jdbcType="VARCHAR" property="alias"/>
        <result column="english_name" jdbcType="VARCHAR" property="englishName"/>
        <result column="bank_name" jdbcType="VARCHAR" property="bankName"/>
        <result column="bank_account" jdbcType="VARCHAR" property="bankAccount"/>
        <result column="bank_acc_name" jdbcType="VARCHAR" property="bankAccName"/>
        <result column="tax_point" jdbcType="VARCHAR" property="taxPoint"/>
        <result column="invoice_type" jdbcType="INTEGER" property="invoiceType"/>
        <result column="currency" jdbcType="INTEGER" property="currency"/>
        <result column="settlement_type" jdbcType="INTEGER" property="settlementType"/>
        <result column="settlement_cycle" jdbcType="INTEGER" property="settlementCycle"/>
        <result column="return_commission" jdbcType="VARCHAR" property="returnCommission"/>
        <result column="discount" jdbcType="VARCHAR" property="discount"/>
        <result column="accounting_code" jdbcType="VARCHAR" property="accountingCode"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="linkman" jdbcType="VARCHAR" property="linkman"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="fax" jdbcType="VARCHAR" property="fax"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="home" jdbcType="VARCHAR" property="home"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, code, name, alias, english_name, bank_name, bank_account, bank_acc_name, tax_point, 
    invoice_type, currency, settlement_type, settlement_cycle, return_commission, discount, 
    accounting_code, address, linkman, tel, fax, mobile, email, home, status, create_time, 
    update_time
  </sql>
    <select id="getSupplierInfoById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from supplier_info
        where id = #{id,jdbcType=BIGINT} and status = 1
    </select>
    <select id="getSupplierInfoList" parameterType="com.lx.benefits.bean.dto.admin.supplierinfo.SupplierInfoReq"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from supplier_info
        where
        status = 1
        <if test="name != null">
            and name = #{name,jdbcType=VARCHAR}
        </if>
        order by create_time desc
        limit #{page},#{pageSize}
    </select>
    <select id="getSupplierInfoCount" parameterType="com.lx.benefits.bean.dto.admin.supplierinfo.SupplierInfoReq"
            resultType="java.lang.Integer">
        select
        count(1)
        from supplier_info
        where
        status = 1
        <if test="name != null">
            and name = #{name,jdbcType=VARCHAR}
        </if>
    </select>
    <insert id="insert" parameterType="com.lx.benefits.bean.entity.supplierInfo.SupplierInfo" useGeneratedKeys="true"
            keyProperty="id">
        insert into supplier_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="alias != null">
                alias,
            </if>
            <if test="englishName != null">
                english_name,
            </if>
            <if test="bankName != null">
                bank_name,
            </if>
            <if test="bankAccount != null">
                bank_account,
            </if>
            <if test="bankAccName != null">
                bank_acc_name,
            </if>
            <if test="taxPoint != null">
                tax_point,
            </if>
            <if test="invoiceType != null">
                invoice_type,
            </if>
            <if test="currency != null">
                currency,
            </if>
            <if test="settlementType != null">
                settlement_type,
            </if>
            <if test="settlementCycle != null">
                settlement_cycle,
            </if>
            <if test="returnCommission != null">
                return_commission,
            </if>
            <if test="discount != null">
                discount,
            </if>
            <if test="accountingCode != null">
                accounting_code,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="linkman != null">
                linkman,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="fax != null">
                fax,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="home != null">
                home,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="alias != null">
                #{alias,jdbcType=VARCHAR},
            </if>
            <if test="englishName != null">
                #{englishName,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null">
                #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="bankAccount != null">
                #{bankAccount,jdbcType=VARCHAR},
            </if>
            <if test="bankAccName != null">
                #{bankAccName,jdbcType=VARCHAR},
            </if>
            <if test="taxPoint != null">
                #{taxPoint,jdbcType=VARCHAR},
            </if>
            <if test="invoiceType != null">
                #{invoiceType,jdbcType=INTEGER},
            </if>
            <if test="currency != null">
                #{currency,jdbcType=INTEGER},
            </if>
            <if test="settlementType != null">
                #{settlementType,jdbcType=INTEGER},
            </if>
            <if test="settlementCycle != null">
                #{settlementCycle,jdbcType=INTEGER},
            </if>
            <if test="returnCommission != null">
                #{returnCommission,jdbcType=VARCHAR},
            </if>
            <if test="discount != null">
                #{discount,jdbcType=VARCHAR},
            </if>
            <if test="accountingCode != null">
                #{accountingCode,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="linkman != null">
                #{linkman,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="fax != null">
                #{fax,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="home != null">
                #{home,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.lx.benefits.bean.entity.supplierInfo.SupplierInfo">
        update supplier_info
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="alias != null">
                alias = #{alias,jdbcType=VARCHAR},
            </if>
            <if test="englishName != null">
                english_name = #{englishName,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null">
                bank_name = #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="bankAccount != null">
                bank_account = #{bankAccount,jdbcType=VARCHAR},
            </if>
            <if test="bankAccName != null">
                bank_acc_name = #{bankAccName,jdbcType=VARCHAR},
            </if>
            <if test="taxPoint != null">
                tax_point = #{taxPoint,jdbcType=VARCHAR},
            </if>
            <if test="invoiceType != null">
                invoice_type = #{invoiceType,jdbcType=INTEGER},
            </if>
            <if test="currency != null">
                currency = #{currency,jdbcType=INTEGER},
            </if>
            <if test="settlementType != null">
                settlement_type = #{settlementType,jdbcType=INTEGER},
            </if>
            <if test="settlementCycle != null">
                settlement_cycle = #{settlementCycle,jdbcType=INTEGER},
            </if>
            <if test="returnCommission != null">
                return_commission = #{returnCommission,jdbcType=VARCHAR},
            </if>
            <if test="discount != null">
                discount = #{discount,jdbcType=VARCHAR},
            </if>
            <if test="accountingCode != null">
                accounting_code = #{accountingCode,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="linkman != null">
                linkman = #{linkman,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="fax != null">
                fax = #{fax,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="home != null">
                home = #{home,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="delete" parameterType="java.lang.Long">
    update supplier_info set status = 0,update_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="getSupplierInfoByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from supplier_info
        where name = #{name} and status = 1
    </select>

    <select id="selectByIds"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from supplier_info
        <where>
            <foreach collection="list" item="id" open="id in (" close=")" separator="," >
                #{id}
            </foreach>
        </where>
    </select>

</mapper>