<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.order.OrderOverviewMapper">
    <resultMap id="BaseResultMap" type="com.lx.benefits.bean.vo.order.OrderOverviewVO">
        <result column="sale_amount" jdbcType="INTEGER" property="saleAmount" />
        <result column="sale_point" jdbcType="INTEGER" property="salePoint" />
        <result column="hours" jdbcType="INTEGER" property="hours" />
    </resultMap>


    <select id="getTodayOrderStatistic" resultMap="BaseResultMap">
        select sum(point_amount+ship_expense_point_amount) as sale_point,sum(price+ship_expense) as sale_amount
        from `order`
        <where>
            to_days(create_time) = to_days(now())
            AND `LEVEL`= 1
            AND `STATUS` = 2
        </where>
    </select>

    <select id="getTodayRefundOrderStatistic" resultMap="BaseResultMap">
        select sum(point_amount) as sale_point,sum(price) as sale_amount
        from `order`
        <where>
            to_days(create_time) = to_days(now())
            AND `LEVEL`= 3
            AND reverse_status = 2
        </where>
    </select>

    <select id="getYesterdayOrderStatistic" resultMap="BaseResultMap">
        select sum(point_amount+ship_expense_point_amount) as sale_point,sum(price+ship_expense) as sale_amount
        from `order`
        <where>
            TO_DAYS(now()) = TO_DAYS(create_time) + 1
            AND `LEVEL`= 1
            AND `STATUS` = 2
        </where>
    </select>


    <select id="getYesterdayRefundOrderStatistic" resultMap="BaseResultMap">
        select sum(point_amount) as sale_point,sum(price) as sale_amount
        from `order`
        <where>
            TO_DAYS(now()) = TO_DAYS(create_time) + 1
            AND `LEVEL`= 3
            AND reverse_status = 2
        </where>
    </select>


    <select id="getPreDay7OrderStatistic"  resultMap="BaseResultMap">
        select sum(point_amount+ship_expense_point_amount) as sale_point,sum(price+ship_expense) as sale_amount
        from `order`
        <where>
            TO_DAYS(CURDATE()) - TO_DAYS(create_time)&lt;7
            AND `LEVEL`= 1
            AND `STATUS` = 2
        </where>
    </select>

    <select id="getPreDay7RefundOrderStatistic"  resultMap="BaseResultMap">
        select sum(point_amount) as sale_point,sum(price) as sale_amount
        from `order`
        <where>
            TO_DAYS(CURDATE()) - TO_DAYS(create_time)&lt;=7
            AND `LEVEL`= 3
            AND reverse_status = 2
        </where>
    </select>


    <select id="getOrderCountStatistic"  resultType="java.lang.Integer">
        select count(*)
        from `order`
        <where>
            to_days(create_time) = to_days(now())
            AND `LEVEL`= 3
        </where>
    </select>

    <select id="getRefundOrderCountStatistic"  resultType="java.lang.Integer">
        select count(*)
        from `order`
        <where>
             to_days(create_time) = to_days(now())
            AND `LEVEL`= 3
            AND reverse_status = 2
        </where>
    </select>


    <select id="getOrderHourStatistic"  resultMap="BaseResultMap">
        select sum(point_amount+ship_expense_point_amount) as sale_point,sum(price+ship_expense) as sale_amount,
        	hour(create_time)+1 as hours
        from `order`
        where to_days(create_time) = to_days(now())
            AND `level` = 3
       group by hours
    </select>

</mapper>
