<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.basedistrictinfo.DistrictInfoMapper">
    <resultMap id="BaseResultMap" type="com.lx.benefits.bean.entity.basedistrictinfo.DistrictInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <resultMap type="com.lx.benefits.bean.entity.basedistrictinfo.DistrictInfoEntity" id="districtInfo">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="spelling" property="spelling"/>
        <result column="simple_spelling" property="simpleSpelling"/>
        <result column="type" property="type"/>
        <result column="path_url" property="pathUrl"/>
        <result column="sort_no" property="sortNo"/>
        <result column="is_delete" property="isDelete"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="national_code" property="nationalCode"/>
        <result column="jd_area_id" property="jdAreaId"/>
        <result column="jd_parent_id" property="jdParentId"/>
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, name
  </sql>
    <select id="selectByExample" parameterType="com.lx.benefits.bean.entity.basedistrictinfo.DistrictInfoExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from bse_district_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="page != null and pageSize != null">
            LIMIT #{page}, #{pageSize}
        </if>
    </select>
    <select id="getInfoByName"
            resultMap="BaseResultMap">
    select
     distinct <include refid="Base_Column_List"/>
    from bse_district_info where is_delete = 0 and name = #{name} limit 1
    </select>
    <select id="selectSimpleById" resultMap="BaseResultMap">
        select
        distinct <include refid="Base_Column_List"/>
        from bse_district_info where is_delete = 0 and id = #{id}
    </select>

    <select id="queryByParam" parameterType="com.lx.benefits.bean.entity.basedistrictinfo.DistrictInfo" resultMap="BaseResultMap">
        select id,name from  bse_district_info
        <where>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
        </where>
    </select>


    <select id="selectById" resultMap="districtInfo">
        select
        distinct *
        from
             bse_district_info
        <where>
              id=#{id}
          and is_delete = 0
        </where>
    </select>
    
    <select id="getByIds" resultMap="districtInfo">
    	select * from bse_district_info
    	where id in
    	<foreach collection="ids" item="id" open="(" close=")" separator=",">
    		#{id}
    	</foreach>
    </select>
</mapper>