<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.user.UserCollectionMapper">


    

	<delete id="deleteUserCollections">
		DELETE FROM user_collection
		<where>
			`USER_ID`=#{userId,jdbcType=BIGINT}
			<if test="skuIdList!=null and skuIdList.size() > 0" >
				<foreach collection="skuIdList" item="skuId" open=" AND SKU_ID in (" close=")" separator="," >
					#{skuId}
				</foreach>
			</if>
		</where>
	</delete>

	<select id="selectByUserId" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		user_collection
		<where>
			`USER_ID`=#{userId,jdbcType=BIGINT}
		</where>
		order by id desc
	</select>

	<select id="selectByUserIdAndSkuId" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		user_collection
		<where>
				`USER_ID`=#{userId,jdbcType=BIGINT}
			and SKU_ID = #{skuId}
		</where>
		limit 1
	</select>
</mapper>

