<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.userinfo.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.lx.benefits.bean.entity.userinfo.UserInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="login_name" jdbcType="VARCHAR" property="login_name" />
    <result column="user_name" jdbcType="VARCHAR" property="user_name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="department_id" jdbcType="BIGINT" property="department_id" />
    <result column="role_id" jdbcType="BIGINT" property="role_id" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user" jdbcType="VARCHAR" property="create_user" />
    <result column="update_user" jdbcType="VARCHAR" property="update_user" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="last_login_time" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="last_login_ip" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, login_name, user_name, password, salt, department_id, role_id, mobile, email, 
    status, create_user, update_user, create_time, update_time, last_login_time, last_login_ip
  </sql>
  <select id="selectByExample" parameterType="com.lx.benefits.bean.entity.userinfo.UserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from usr_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null and pageSize != null">
      LIMIT #{page}, #{pageSize}
    </if>
  </select>

  <select id="findUserList" parameterType="com.lx.benefits.bean.dto.user.UserInfoReq" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from usr_user_info
    where 1 = 1
    <if test="login_name != null and login_name != ''">
      and login_name = #{login_name}
    </if>
    <if test="user_name != null and user_name != ''">
      and user_name = #{user_name}
    </if>
    <if test="department_id != null">
      and department_id = #{department_id}
    </if>
    <if test="mobile != null and mobile != ''">
      and mobile = #{mobile}
    </if>
    <if test="email != null and email != ''">
      and email = #{email}
    </if>
    <if test="status != null">
      and status = #{status}
    </if>
      LIMIT #{page}, #{pageSize}
  </select>

  <select id="findUserCount" parameterType="com.lx.benefits.bean.dto.user.UserInfoReq" resultType="java.lang.Integer">
    select
    count(1)
    from usr_user_info
    where 1 = 1
    <if test="login_name != null and login_name != ''">
      and login_name = #{login_name}
    </if>
    <if test="user_name != null and user_name != ''">
      and user_name = #{user_name}
    </if>
    <if test="department_id != null">
      and department_id = #{department_id}
    </if>
    <if test="mobile != null and mobile != ''">
      and mobile = #{mobile}
    </if>
    <if test="email != null and email != ''">
      and email = #{email}
    </if>
    <if test="status != null">
      and status = #{status}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from usr_user_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from usr_user_info
    where id = #{id,jdbcType=BIGINT} LIMIT 1
  </delete>
  <delete id="delete" parameterType="java.lang.Long">
    update usr_user_info set status = 0
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lx.benefits.bean.entity.userinfo.UserInfoExample">
    delete from usr_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>


  <select id="fetchOneByExample" parameterType="com.lx.benefits.bean.entity.userinfo.UserInfoExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from usr_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    LIMIT 1
  </select>
  
  <insert id="insert" parameterType="com.lx.benefits.bean.entity.userinfo.UserInfo">
    insert into usr_user_info (id, login_name, user_name, 
      password, salt, department_id, 
      role_id, mobile, email, 
      status, create_user, update_user, 
      create_time, update_time, last_login_time, 
      last_login_ip)
    values (#{id,jdbcType=BIGINT}, #{login_name,jdbcType=VARCHAR}, #{user_name,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{department_id,jdbcType=BIGINT}, 
      #{role_id,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{create_user,jdbcType=VARCHAR}, #{update_user,jdbcType=VARCHAR}, 
      #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, #{last_login_time,jdbcType=TIMESTAMP}, 
      #{last_login_ip,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.lx.benefits.bean.entity.userinfo.UserInfo">
    insert into usr_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="login_name != null">
        login_name,
      </if>
      <if test="user_name != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="department_id != null">
        department_id,
      </if>
      <if test="role_id != null">
        role_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="create_user != null">
        create_user,
      </if>
      <if test="update_user != null">
        update_user,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="last_login_time != null">
        last_login_time,
      </if>
      <if test="last_login_ip != null">
        last_login_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="login_name != null">
        #{login_name,jdbcType=VARCHAR},
      </if>
      <if test="user_name != null">
        #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="department_id != null">
        #{department_id,jdbcType=BIGINT},
      </if>
      <if test="role_id != null">
        #{role_id,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="create_user != null">
        #{create_user,jdbcType=VARCHAR},
      </if>
      <if test="update_user != null">
        #{update_user,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="last_login_time != null">
        #{last_login_time,jdbcType=TIMESTAMP},
      </if>
      <if test="last_login_ip != null">
        #{last_login_ip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lx.benefits.bean.entity.userinfo.UserInfoExample" resultType="java.lang.Integer">
    select count(*) from usr_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update usr_user_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.login_name != null">
        login_name = #{record.login_name,jdbcType=VARCHAR},
      </if>
      <if test="record.user_name != null">
        user_name = #{record.user_name,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.salt != null">
        salt = #{record.salt,jdbcType=VARCHAR},
      </if>
      <if test="record.department_id != null">
        department_id = #{record.department_id,jdbcType=BIGINT},
      </if>
      <if test="record.role_id != null">
        role_id = #{record.role_id,jdbcType=BIGINT},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.create_user != null">
        create_user = #{record.create_user,jdbcType=VARCHAR},
      </if>
      <if test="record.update_user != null">
        update_user = #{record.update_user,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_time != null">
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.last_login_time != null">
        last_login_time = #{record.last_login_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.last_login_ip != null">
        last_login_ip = #{record.last_login_ip,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update usr_user_info
    set id = #{record.id,jdbcType=BIGINT},
      login_name = #{record.login_name,jdbcType=VARCHAR},
      user_name = #{record.user_name,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      salt = #{record.salt,jdbcType=VARCHAR},
      department_id = #{record.department_id,jdbcType=BIGINT},
      role_id = #{record.role_id,jdbcType=BIGINT},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      create_user = #{record.create_user,jdbcType=VARCHAR},
      update_user = #{record.update_user,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      update_time = #{record.update_time,jdbcType=TIMESTAMP},
      last_login_time = #{record.last_login_time,jdbcType=TIMESTAMP},
      last_login_ip = #{record.last_login_ip,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lx.benefits.bean.entity.userinfo.UserInfo">
    update usr_user_info
    <set>
      <if test="login_name != null">
        login_name = #{login_name,jdbcType=VARCHAR},
      </if>
      <if test="user_name != null">
        user_name = #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="department_id != null">
        department_id = #{department_id,jdbcType=BIGINT},
      </if>
      <if test="role_id != null">
        role_id = #{role_id,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="create_user != null">
        create_user = #{create_user,jdbcType=VARCHAR},
      </if>
      <if test="update_user != null">
        update_user = #{update_user,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="last_login_time != null">
        last_login_time = #{last_login_time,jdbcType=TIMESTAMP},
      </if>
      <if test="last_login_ip != null">
        last_login_ip = #{last_login_ip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lx.benefits.bean.entity.userinfo.UserInfo">
    update usr_user_info
    set login_name = #{login_name,jdbcType=VARCHAR},
      user_name = #{user_name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      department_id = #{department_id,jdbcType=BIGINT},
      role_id = #{role_id,jdbcType=BIGINT},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_user = #{create_user,jdbcType=VARCHAR},
      update_user = #{update_user,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      last_login_time = #{last_login_time,jdbcType=TIMESTAMP},
      last_login_ip = #{last_login_ip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="existUser" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(1) from usr_user_info where login_name = #{login_name} and status = 1
  </select>
</mapper>