<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.suborder.SubOrderMapper">
  <resultMap id="BaseResultMap" type="com.lx.benefits.bean.entity.suborder.SubOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_code" jdbcType="BIGINT" property="order_code" />
    <result column="parent_order_id" jdbcType="BIGINT" property="parent_order_id" />
    <result column="parent_order_code" jdbcType="BIGINT" property="parent_order_code" />
    <result column="order_status" jdbcType="TINYINT" property="order_status" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="total" jdbcType="DOUBLE" property="total" />
    <result column="item_total" jdbcType="DOUBLE" property="item_total" />
    <result column="original_total" jdbcType="DOUBLE" property="original_total" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="freight" jdbcType="DOUBLE" property="freight" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
    <result column="points" jdbcType="DOUBLE" property="points" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplier_id" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplier_name" />
    <result column="supplier_alias" jdbcType="VARCHAR" property="supplier_alias" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouse_id" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouse_name" />
    <result column="put_sign" jdbcType="SMALLINT" property="put_sign" />
    <result column="member_id" jdbcType="BIGINT" property="member_id" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="done_time" jdbcType="TIMESTAMP" property="done_time" />
    <result column="fast_user_id" jdbcType="BIGINT" property="fast_user_id" />
    <result column="consignee_name" jdbcType="VARCHAR" property="consignee_name" />
    <result column="consignee_mobile" jdbcType="VARCHAR" property="consignee_mobile" />
    <result column="account_name" jdbcType="VARCHAR" property="account_name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="cancel_reason" jdbcType="VARCHAR" property="cancel_reason" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="delivered_time" jdbcType="TIMESTAMP" property="delivered_time" />
    <result column="tax_fee" jdbcType="DOUBLE" property="tax_fee" />
    <result column="pay_type" jdbcType="TINYINT" property="pay_type" />
    <result column="pay_way" jdbcType="TINYINT" property="pay_way" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="pay_time" />
    <result column="pay_code" jdbcType="VARCHAR" property="pay_code" />
    <result column="pay_company_code" jdbcType="VARCHAR" property="pay_company_code" />
    <result column="sea_channel" jdbcType="BIGINT" property="sea_channel" />
    <result column="custom_code" jdbcType="VARCHAR" property="custom_code" />
    <result column="org_name" jdbcType="VARCHAR" property="org_name" />
    <result column="put_status" jdbcType="TINYINT" property="put_status" />
    <result column="sea_channel_name" jdbcType="VARCHAR" property="sea_channel_name" />
    <result column="source" jdbcType="TINYINT" property="source" />
    <result column="promoter_id" jdbcType="BIGINT" property="promoter_id" />
    <result column="shop_promoter_id" jdbcType="BIGINT" property="shop_promoter_id" />
    <result column="scan_promoter_id" jdbcType="BIGINT" property="scan_promoter_id" />
    <result column="track_source" jdbcType="TINYINT" property="track_source" />
    <result column="channel_code" jdbcType="VARCHAR" property="channel_code" />
    <result column="group_id" jdbcType="BIGINT" property="group_id" />
    <result column="clearance_status" jdbcType="INTEGER" property="clearance_status" />
    <result column="put_order_status" jdbcType="INTEGER" property="put_order_status" />
    <result column="put_personalgoods_status" jdbcType="INTEGER" property="put_personalgoods_status" />
    <result column="put_waybill_status" jdbcType="INTEGER" property="put_waybill_status" />
    <result column="put_pay_status" jdbcType="INTEGER" property="put_pay_status" />
    <result column="put_customs_times" jdbcType="INTEGER" property="put_customs_times" />
    <result column="receive_tel" jdbcType="VARCHAR" property="receive_tel" />
    <result column="cdkey" jdbcType="VARCHAR" property="cdkey" />
    <result column="order_type" jdbcType="INTEGER" property="order_type" />
    <result column="discount_rate" jdbcType="DOUBLE" property="discount_rate" />
    <result column="discount_amount" jdbcType="DOUBLE" property="discount_amount" />
    <result column="invoice_type" jdbcType="TINYINT" property="invoice_type" />
    <result column="ent_promoter_id" jdbcType="BIGINT" property="ent_promoter_id" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterprise_id" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_code, parent_order_id, parent_order_code, order_status, type, quantity, 
    total, item_total, original_total, discount, freight, balance, points, supplier_id, 
    supplier_name, supplier_alias, warehouse_id, warehouse_name, put_sign, member_id, 
    deleted, done_time, fast_user_id, consignee_name, consignee_mobile, account_name, 
    remark, cancel_reason, create_time, update_time, delivered_time, tax_fee, pay_type, 
    pay_way, pay_time, pay_code, pay_company_code, sea_channel, custom_code, org_name, 
    put_status, sea_channel_name, source, promoter_id, shop_promoter_id, scan_promoter_id, 
    track_source, channel_code, group_id, clearance_status, put_order_status, put_personalgoods_status, 
    put_waybill_status, put_pay_status, put_customs_times, receive_tel, cdkey, order_type, 
    discount_rate, discount_amount, invoice_type, ent_promoter_id, enterprise_id
  </sql>
  <select id="selectByExample" parameterType="com.lx.benefits.bean.entity.suborder.SubOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ord_sub_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null and pageSize != null">
      LIMIT #{page}, #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ord_sub_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ord_sub_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lx.benefits.bean.entity.suborder.SubOrderExample">
    delete from ord_sub_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lx.benefits.bean.entity.suborder.SubOrder">
    insert into ord_sub_order (id, order_code, parent_order_id, 
      parent_order_code, order_status, type, 
      quantity, total, item_total, 
      original_total, discount, freight, 
      balance, points, supplier_id, 
      supplier_name, supplier_alias, warehouse_id, 
      warehouse_name, put_sign, member_id, 
      deleted, done_time, fast_user_id, 
      consignee_name, consignee_mobile, account_name, 
      remark, cancel_reason, create_time, 
      update_time, delivered_time, tax_fee, 
      pay_type, pay_way, pay_time, 
      pay_code, pay_company_code, sea_channel, 
      custom_code, org_name, put_status, 
      sea_channel_name, source, promoter_id, 
      shop_promoter_id, scan_promoter_id, track_source, 
      channel_code, group_id, clearance_status, 
      put_order_status, put_personalgoods_status, 
      put_waybill_status, put_pay_status, put_customs_times, 
      receive_tel, cdkey, order_type, 
      discount_rate, discount_amount, invoice_type, 
      ent_promoter_id, enterprise_id)
    values (#{id,jdbcType=BIGINT}, #{order_code,jdbcType=BIGINT}, #{parent_order_id,jdbcType=BIGINT}, 
      #{parent_order_code,jdbcType=BIGINT}, #{order_status,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, 
      #{quantity,jdbcType=INTEGER}, #{total,jdbcType=DOUBLE}, #{item_total,jdbcType=DOUBLE}, 
      #{original_total,jdbcType=DOUBLE}, #{discount,jdbcType=DOUBLE}, #{freight,jdbcType=DOUBLE}, 
      #{balance,jdbcType=DOUBLE}, #{points,jdbcType=DOUBLE}, #{supplier_id,jdbcType=BIGINT}, 
      #{supplier_name,jdbcType=VARCHAR}, #{supplier_alias,jdbcType=VARCHAR}, #{warehouse_id,jdbcType=BIGINT}, 
      #{warehouse_name,jdbcType=VARCHAR}, #{put_sign,jdbcType=SMALLINT}, #{member_id,jdbcType=BIGINT}, 
      #{deleted,jdbcType=BIT}, #{done_time,jdbcType=TIMESTAMP}, #{fast_user_id,jdbcType=BIGINT}, 
      #{consignee_name,jdbcType=VARCHAR}, #{consignee_mobile,jdbcType=VARCHAR}, #{account_name,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{cancel_reason,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, 
      #{update_time,jdbcType=TIMESTAMP}, #{delivered_time,jdbcType=TIMESTAMP}, #{tax_fee,jdbcType=DOUBLE}, 
      #{pay_type,jdbcType=TINYINT}, #{pay_way,jdbcType=TINYINT}, #{pay_time,jdbcType=TIMESTAMP}, 
      #{pay_code,jdbcType=VARCHAR}, #{pay_company_code,jdbcType=VARCHAR}, #{sea_channel,jdbcType=BIGINT}, 
      #{custom_code,jdbcType=VARCHAR}, #{org_name,jdbcType=VARCHAR}, #{put_status,jdbcType=TINYINT}, 
      #{sea_channel_name,jdbcType=VARCHAR}, #{source,jdbcType=TINYINT}, #{promoter_id,jdbcType=BIGINT}, 
      #{shop_promoter_id,jdbcType=BIGINT}, #{scan_promoter_id,jdbcType=BIGINT}, #{track_source,jdbcType=TINYINT}, 
      #{channel_code,jdbcType=VARCHAR}, #{group_id,jdbcType=BIGINT}, #{clearance_status,jdbcType=INTEGER}, 
      #{put_order_status,jdbcType=INTEGER}, #{put_personalgoods_status,jdbcType=INTEGER}, 
      #{put_waybill_status,jdbcType=INTEGER}, #{put_pay_status,jdbcType=INTEGER}, #{put_customs_times,jdbcType=INTEGER}, 
      #{receive_tel,jdbcType=VARCHAR}, #{cdkey,jdbcType=VARCHAR}, #{order_type,jdbcType=INTEGER}, 
      #{discount_rate,jdbcType=DOUBLE}, #{discount_amount,jdbcType=DOUBLE}, #{invoice_type,jdbcType=TINYINT}, 
      #{ent_promoter_id,jdbcType=BIGINT}, #{enterprise_id,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lx.benefits.bean.entity.suborder.SubOrder">
    insert into ord_sub_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="order_code != null">
        order_code,
      </if>
      <if test="parent_order_id != null">
        parent_order_id,
      </if>
      <if test="parent_order_code != null">
        parent_order_code,
      </if>
      <if test="order_status != null">
        order_status,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="item_total != null">
        item_total,
      </if>
      <if test="original_total != null">
        original_total,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="freight != null">
        freight,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="points != null">
        points,
      </if>
      <if test="supplier_id != null">
        supplier_id,
      </if>
      <if test="supplier_name != null">
        supplier_name,
      </if>
      <if test="supplier_alias != null">
        supplier_alias,
      </if>
      <if test="warehouse_id != null">
        warehouse_id,
      </if>
      <if test="warehouse_name != null">
        warehouse_name,
      </if>
      <if test="put_sign != null">
        put_sign,
      </if>
      <if test="member_id != null">
        member_id,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="done_time != null">
        done_time,
      </if>
      <if test="fast_user_id != null">
        fast_user_id,
      </if>
      <if test="consignee_name != null">
        consignee_name,
      </if>
      <if test="consignee_mobile != null">
        consignee_mobile,
      </if>
      <if test="account_name != null">
        account_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="cancel_reason != null">
        cancel_reason,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="delivered_time != null">
        delivered_time,
      </if>
      <if test="tax_fee != null">
        tax_fee,
      </if>
      <if test="pay_type != null">
        pay_type,
      </if>
      <if test="pay_way != null">
        pay_way,
      </if>
      <if test="pay_time != null">
        pay_time,
      </if>
      <if test="pay_code != null">
        pay_code,
      </if>
      <if test="pay_company_code != null">
        pay_company_code,
      </if>
      <if test="sea_channel != null">
        sea_channel,
      </if>
      <if test="custom_code != null">
        custom_code,
      </if>
      <if test="org_name != null">
        org_name,
      </if>
      <if test="put_status != null">
        put_status,
      </if>
      <if test="sea_channel_name != null">
        sea_channel_name,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="promoter_id != null">
        promoter_id,
      </if>
      <if test="shop_promoter_id != null">
        shop_promoter_id,
      </if>
      <if test="scan_promoter_id != null">
        scan_promoter_id,
      </if>
      <if test="track_source != null">
        track_source,
      </if>
      <if test="channel_code != null">
        channel_code,
      </if>
      <if test="group_id != null">
        group_id,
      </if>
      <if test="clearance_status != null">
        clearance_status,
      </if>
      <if test="put_order_status != null">
        put_order_status,
      </if>
      <if test="put_personalgoods_status != null">
        put_personalgoods_status,
      </if>
      <if test="put_waybill_status != null">
        put_waybill_status,
      </if>
      <if test="put_pay_status != null">
        put_pay_status,
      </if>
      <if test="put_customs_times != null">
        put_customs_times,
      </if>
      <if test="receive_tel != null">
        receive_tel,
      </if>
      <if test="cdkey != null">
        cdkey,
      </if>
      <if test="order_type != null">
        order_type,
      </if>
      <if test="discount_rate != null">
        discount_rate,
      </if>
      <if test="discount_amount != null">
        discount_amount,
      </if>
      <if test="invoice_type != null">
        invoice_type,
      </if>
      <if test="ent_promoter_id != null">
        ent_promoter_id,
      </if>
      <if test="enterprise_id != null">
        enterprise_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="order_code != null">
        #{order_code,jdbcType=BIGINT},
      </if>
      <if test="parent_order_id != null">
        #{parent_order_id,jdbcType=BIGINT},
      </if>
      <if test="parent_order_code != null">
        #{parent_order_code,jdbcType=BIGINT},
      </if>
      <if test="order_status != null">
        #{order_status,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        #{total,jdbcType=DOUBLE},
      </if>
      <if test="item_total != null">
        #{item_total,jdbcType=DOUBLE},
      </if>
      <if test="original_total != null">
        #{original_total,jdbcType=DOUBLE},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="freight != null">
        #{freight,jdbcType=DOUBLE},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DOUBLE},
      </if>
      <if test="points != null">
        #{points,jdbcType=DOUBLE},
      </if>
      <if test="supplier_id != null">
        #{supplier_id,jdbcType=BIGINT},
      </if>
      <if test="supplier_name != null">
        #{supplier_name,jdbcType=VARCHAR},
      </if>
      <if test="supplier_alias != null">
        #{supplier_alias,jdbcType=VARCHAR},
      </if>
      <if test="warehouse_id != null">
        #{warehouse_id,jdbcType=BIGINT},
      </if>
      <if test="warehouse_name != null">
        #{warehouse_name,jdbcType=VARCHAR},
      </if>
      <if test="put_sign != null">
        #{put_sign,jdbcType=SMALLINT},
      </if>
      <if test="member_id != null">
        #{member_id,jdbcType=BIGINT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="done_time != null">
        #{done_time,jdbcType=TIMESTAMP},
      </if>
      <if test="fast_user_id != null">
        #{fast_user_id,jdbcType=BIGINT},
      </if>
      <if test="consignee_name != null">
        #{consignee_name,jdbcType=VARCHAR},
      </if>
      <if test="consignee_mobile != null">
        #{consignee_mobile,jdbcType=VARCHAR},
      </if>
      <if test="account_name != null">
        #{account_name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cancel_reason != null">
        #{cancel_reason,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="delivered_time != null">
        #{delivered_time,jdbcType=TIMESTAMP},
      </if>
      <if test="tax_fee != null">
        #{tax_fee,jdbcType=DOUBLE},
      </if>
      <if test="pay_type != null">
        #{pay_type,jdbcType=TINYINT},
      </if>
      <if test="pay_way != null">
        #{pay_way,jdbcType=TINYINT},
      </if>
      <if test="pay_time != null">
        #{pay_time,jdbcType=TIMESTAMP},
      </if>
      <if test="pay_code != null">
        #{pay_code,jdbcType=VARCHAR},
      </if>
      <if test="pay_company_code != null">
        #{pay_company_code,jdbcType=VARCHAR},
      </if>
      <if test="sea_channel != null">
        #{sea_channel,jdbcType=BIGINT},
      </if>
      <if test="custom_code != null">
        #{custom_code,jdbcType=VARCHAR},
      </if>
      <if test="org_name != null">
        #{org_name,jdbcType=VARCHAR},
      </if>
      <if test="put_status != null">
        #{put_status,jdbcType=TINYINT},
      </if>
      <if test="sea_channel_name != null">
        #{sea_channel_name,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=TINYINT},
      </if>
      <if test="promoter_id != null">
        #{promoter_id,jdbcType=BIGINT},
      </if>
      <if test="shop_promoter_id != null">
        #{shop_promoter_id,jdbcType=BIGINT},
      </if>
      <if test="scan_promoter_id != null">
        #{scan_promoter_id,jdbcType=BIGINT},
      </if>
      <if test="track_source != null">
        #{track_source,jdbcType=TINYINT},
      </if>
      <if test="channel_code != null">
        #{channel_code,jdbcType=VARCHAR},
      </if>
      <if test="group_id != null">
        #{group_id,jdbcType=BIGINT},
      </if>
      <if test="clearance_status != null">
        #{clearance_status,jdbcType=INTEGER},
      </if>
      <if test="put_order_status != null">
        #{put_order_status,jdbcType=INTEGER},
      </if>
      <if test="put_personalgoods_status != null">
        #{put_personalgoods_status,jdbcType=INTEGER},
      </if>
      <if test="put_waybill_status != null">
        #{put_waybill_status,jdbcType=INTEGER},
      </if>
      <if test="put_pay_status != null">
        #{put_pay_status,jdbcType=INTEGER},
      </if>
      <if test="put_customs_times != null">
        #{put_customs_times,jdbcType=INTEGER},
      </if>
      <if test="receive_tel != null">
        #{receive_tel,jdbcType=VARCHAR},
      </if>
      <if test="cdkey != null">
        #{cdkey,jdbcType=VARCHAR},
      </if>
      <if test="order_type != null">
        #{order_type,jdbcType=INTEGER},
      </if>
      <if test="discount_rate != null">
        #{discount_rate,jdbcType=DOUBLE},
      </if>
      <if test="discount_amount != null">
        #{discount_amount,jdbcType=DOUBLE},
      </if>
      <if test="invoice_type != null">
        #{invoice_type,jdbcType=TINYINT},
      </if>
      <if test="ent_promoter_id != null">
        #{ent_promoter_id,jdbcType=BIGINT},
      </if>
      <if test="enterprise_id != null">
        #{enterprise_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lx.benefits.bean.entity.suborder.SubOrderExample" resultType="java.lang.Integer">
    select count(*) from ord_sub_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ord_sub_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.order_code != null">
        order_code = #{record.order_code,jdbcType=BIGINT},
      </if>
      <if test="record.parent_order_id != null">
        parent_order_id = #{record.parent_order_id,jdbcType=BIGINT},
      </if>
      <if test="record.parent_order_code != null">
        parent_order_code = #{record.parent_order_code,jdbcType=BIGINT},
      </if>
      <if test="record.order_status != null">
        order_status = #{record.order_status,jdbcType=TINYINT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.total != null">
        total = #{record.total,jdbcType=DOUBLE},
      </if>
      <if test="record.item_total != null">
        item_total = #{record.item_total,jdbcType=DOUBLE},
      </if>
      <if test="record.original_total != null">
        original_total = #{record.original_total,jdbcType=DOUBLE},
      </if>
      <if test="record.discount != null">
        discount = #{record.discount,jdbcType=DOUBLE},
      </if>
      <if test="record.freight != null">
        freight = #{record.freight,jdbcType=DOUBLE},
      </if>
      <if test="record.balance != null">
        balance = #{record.balance,jdbcType=DOUBLE},
      </if>
      <if test="record.points != null">
        points = #{record.points,jdbcType=DOUBLE},
      </if>
      <if test="record.supplier_id != null">
        supplier_id = #{record.supplier_id,jdbcType=BIGINT},
      </if>
      <if test="record.supplier_name != null">
        supplier_name = #{record.supplier_name,jdbcType=VARCHAR},
      </if>
      <if test="record.supplier_alias != null">
        supplier_alias = #{record.supplier_alias,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouse_id != null">
        warehouse_id = #{record.warehouse_id,jdbcType=BIGINT},
      </if>
      <if test="record.warehouse_name != null">
        warehouse_name = #{record.warehouse_name,jdbcType=VARCHAR},
      </if>
      <if test="record.put_sign != null">
        put_sign = #{record.put_sign,jdbcType=SMALLINT},
      </if>
      <if test="record.member_id != null">
        member_id = #{record.member_id,jdbcType=BIGINT},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.done_time != null">
        done_time = #{record.done_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fast_user_id != null">
        fast_user_id = #{record.fast_user_id,jdbcType=BIGINT},
      </if>
      <if test="record.consignee_name != null">
        consignee_name = #{record.consignee_name,jdbcType=VARCHAR},
      </if>
      <if test="record.consignee_mobile != null">
        consignee_mobile = #{record.consignee_mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.account_name != null">
        account_name = #{record.account_name,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.cancel_reason != null">
        cancel_reason = #{record.cancel_reason,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_time != null">
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delivered_time != null">
        delivered_time = #{record.delivered_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tax_fee != null">
        tax_fee = #{record.tax_fee,jdbcType=DOUBLE},
      </if>
      <if test="record.pay_type != null">
        pay_type = #{record.pay_type,jdbcType=TINYINT},
      </if>
      <if test="record.pay_way != null">
        pay_way = #{record.pay_way,jdbcType=TINYINT},
      </if>
      <if test="record.pay_time != null">
        pay_time = #{record.pay_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pay_code != null">
        pay_code = #{record.pay_code,jdbcType=VARCHAR},
      </if>
      <if test="record.pay_company_code != null">
        pay_company_code = #{record.pay_company_code,jdbcType=VARCHAR},
      </if>
      <if test="record.sea_channel != null">
        sea_channel = #{record.sea_channel,jdbcType=BIGINT},
      </if>
      <if test="record.custom_code != null">
        custom_code = #{record.custom_code,jdbcType=VARCHAR},
      </if>
      <if test="record.org_name != null">
        org_name = #{record.org_name,jdbcType=VARCHAR},
      </if>
      <if test="record.put_status != null">
        put_status = #{record.put_status,jdbcType=TINYINT},
      </if>
      <if test="record.sea_channel_name != null">
        sea_channel_name = #{record.sea_channel_name,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null">
        source = #{record.source,jdbcType=TINYINT},
      </if>
      <if test="record.promoter_id != null">
        promoter_id = #{record.promoter_id,jdbcType=BIGINT},
      </if>
      <if test="record.shop_promoter_id != null">
        shop_promoter_id = #{record.shop_promoter_id,jdbcType=BIGINT},
      </if>
      <if test="record.scan_promoter_id != null">
        scan_promoter_id = #{record.scan_promoter_id,jdbcType=BIGINT},
      </if>
      <if test="record.track_source != null">
        track_source = #{record.track_source,jdbcType=TINYINT},
      </if>
      <if test="record.channel_code != null">
        channel_code = #{record.channel_code,jdbcType=VARCHAR},
      </if>
      <if test="record.group_id != null">
        group_id = #{record.group_id,jdbcType=BIGINT},
      </if>
      <if test="record.clearance_status != null">
        clearance_status = #{record.clearance_status,jdbcType=INTEGER},
      </if>
      <if test="record.put_order_status != null">
        put_order_status = #{record.put_order_status,jdbcType=INTEGER},
      </if>
      <if test="record.put_personalgoods_status != null">
        put_personalgoods_status = #{record.put_personalgoods_status,jdbcType=INTEGER},
      </if>
      <if test="record.put_waybill_status != null">
        put_waybill_status = #{record.put_waybill_status,jdbcType=INTEGER},
      </if>
      <if test="record.put_pay_status != null">
        put_pay_status = #{record.put_pay_status,jdbcType=INTEGER},
      </if>
      <if test="record.put_customs_times != null">
        put_customs_times = #{record.put_customs_times,jdbcType=INTEGER},
      </if>
      <if test="record.receive_tel != null">
        receive_tel = #{record.receive_tel,jdbcType=VARCHAR},
      </if>
      <if test="record.cdkey != null">
        cdkey = #{record.cdkey,jdbcType=VARCHAR},
      </if>
      <if test="record.order_type != null">
        order_type = #{record.order_type,jdbcType=INTEGER},
      </if>
      <if test="record.discount_rate != null">
        discount_rate = #{record.discount_rate,jdbcType=DOUBLE},
      </if>
      <if test="record.discount_amount != null">
        discount_amount = #{record.discount_amount,jdbcType=DOUBLE},
      </if>
      <if test="record.invoice_type != null">
        invoice_type = #{record.invoice_type,jdbcType=TINYINT},
      </if>
      <if test="record.ent_promoter_id != null">
        ent_promoter_id = #{record.ent_promoter_id,jdbcType=BIGINT},
      </if>
      <if test="record.enterprise_id != null">
        enterprise_id = #{record.enterprise_id,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ord_sub_order
    set id = #{record.id,jdbcType=BIGINT},
      order_code = #{record.order_code,jdbcType=BIGINT},
      parent_order_id = #{record.parent_order_id,jdbcType=BIGINT},
      parent_order_code = #{record.parent_order_code,jdbcType=BIGINT},
      order_status = #{record.order_status,jdbcType=TINYINT},
      type = #{record.type,jdbcType=TINYINT},
      quantity = #{record.quantity,jdbcType=INTEGER},
      total = #{record.total,jdbcType=DOUBLE},
      item_total = #{record.item_total,jdbcType=DOUBLE},
      original_total = #{record.original_total,jdbcType=DOUBLE},
      discount = #{record.discount,jdbcType=DOUBLE},
      freight = #{record.freight,jdbcType=DOUBLE},
      balance = #{record.balance,jdbcType=DOUBLE},
      points = #{record.points,jdbcType=DOUBLE},
      supplier_id = #{record.supplier_id,jdbcType=BIGINT},
      supplier_name = #{record.supplier_name,jdbcType=VARCHAR},
      supplier_alias = #{record.supplier_alias,jdbcType=VARCHAR},
      warehouse_id = #{record.warehouse_id,jdbcType=BIGINT},
      warehouse_name = #{record.warehouse_name,jdbcType=VARCHAR},
      put_sign = #{record.put_sign,jdbcType=SMALLINT},
      member_id = #{record.member_id,jdbcType=BIGINT},
      deleted = #{record.deleted,jdbcType=BIT},
      done_time = #{record.done_time,jdbcType=TIMESTAMP},
      fast_user_id = #{record.fast_user_id,jdbcType=BIGINT},
      consignee_name = #{record.consignee_name,jdbcType=VARCHAR},
      consignee_mobile = #{record.consignee_mobile,jdbcType=VARCHAR},
      account_name = #{record.account_name,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      cancel_reason = #{record.cancel_reason,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      update_time = #{record.update_time,jdbcType=TIMESTAMP},
      delivered_time = #{record.delivered_time,jdbcType=TIMESTAMP},
      tax_fee = #{record.tax_fee,jdbcType=DOUBLE},
      pay_type = #{record.pay_type,jdbcType=TINYINT},
      pay_way = #{record.pay_way,jdbcType=TINYINT},
      pay_time = #{record.pay_time,jdbcType=TIMESTAMP},
      pay_code = #{record.pay_code,jdbcType=VARCHAR},
      pay_company_code = #{record.pay_company_code,jdbcType=VARCHAR},
      sea_channel = #{record.sea_channel,jdbcType=BIGINT},
      custom_code = #{record.custom_code,jdbcType=VARCHAR},
      org_name = #{record.org_name,jdbcType=VARCHAR},
      put_status = #{record.put_status,jdbcType=TINYINT},
      sea_channel_name = #{record.sea_channel_name,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=TINYINT},
      promoter_id = #{record.promoter_id,jdbcType=BIGINT},
      shop_promoter_id = #{record.shop_promoter_id,jdbcType=BIGINT},
      scan_promoter_id = #{record.scan_promoter_id,jdbcType=BIGINT},
      track_source = #{record.track_source,jdbcType=TINYINT},
      channel_code = #{record.channel_code,jdbcType=VARCHAR},
      group_id = #{record.group_id,jdbcType=BIGINT},
      clearance_status = #{record.clearance_status,jdbcType=INTEGER},
      put_order_status = #{record.put_order_status,jdbcType=INTEGER},
      put_personalgoods_status = #{record.put_personalgoods_status,jdbcType=INTEGER},
      put_waybill_status = #{record.put_waybill_status,jdbcType=INTEGER},
      put_pay_status = #{record.put_pay_status,jdbcType=INTEGER},
      put_customs_times = #{record.put_customs_times,jdbcType=INTEGER},
      receive_tel = #{record.receive_tel,jdbcType=VARCHAR},
      cdkey = #{record.cdkey,jdbcType=VARCHAR},
      order_type = #{record.order_type,jdbcType=INTEGER},
      discount_rate = #{record.discount_rate,jdbcType=DOUBLE},
      discount_amount = #{record.discount_amount,jdbcType=DOUBLE},
      invoice_type = #{record.invoice_type,jdbcType=TINYINT},
      ent_promoter_id = #{record.ent_promoter_id,jdbcType=BIGINT},
      enterprise_id = #{record.enterprise_id,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lx.benefits.bean.entity.suborder.SubOrder">
    update ord_sub_order
    <set>
      <if test="order_code != null">
        order_code = #{order_code,jdbcType=BIGINT},
      </if>
      <if test="parent_order_id != null">
        parent_order_id = #{parent_order_id,jdbcType=BIGINT},
      </if>
      <if test="parent_order_code != null">
        parent_order_code = #{parent_order_code,jdbcType=BIGINT},
      </if>
      <if test="order_status != null">
        order_status = #{order_status,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=DOUBLE},
      </if>
      <if test="item_total != null">
        item_total = #{item_total,jdbcType=DOUBLE},
      </if>
      <if test="original_total != null">
        original_total = #{original_total,jdbcType=DOUBLE},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="freight != null">
        freight = #{freight,jdbcType=DOUBLE},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DOUBLE},
      </if>
      <if test="points != null">
        points = #{points,jdbcType=DOUBLE},
      </if>
      <if test="supplier_id != null">
        supplier_id = #{supplier_id,jdbcType=BIGINT},
      </if>
      <if test="supplier_name != null">
        supplier_name = #{supplier_name,jdbcType=VARCHAR},
      </if>
      <if test="supplier_alias != null">
        supplier_alias = #{supplier_alias,jdbcType=VARCHAR},
      </if>
      <if test="warehouse_id != null">
        warehouse_id = #{warehouse_id,jdbcType=BIGINT},
      </if>
      <if test="warehouse_name != null">
        warehouse_name = #{warehouse_name,jdbcType=VARCHAR},
      </if>
      <if test="put_sign != null">
        put_sign = #{put_sign,jdbcType=SMALLINT},
      </if>
      <if test="member_id != null">
        member_id = #{member_id,jdbcType=BIGINT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="done_time != null">
        done_time = #{done_time,jdbcType=TIMESTAMP},
      </if>
      <if test="fast_user_id != null">
        fast_user_id = #{fast_user_id,jdbcType=BIGINT},
      </if>
      <if test="consignee_name != null">
        consignee_name = #{consignee_name,jdbcType=VARCHAR},
      </if>
      <if test="consignee_mobile != null">
        consignee_mobile = #{consignee_mobile,jdbcType=VARCHAR},
      </if>
      <if test="account_name != null">
        account_name = #{account_name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cancel_reason != null">
        cancel_reason = #{cancel_reason,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="delivered_time != null">
        delivered_time = #{delivered_time,jdbcType=TIMESTAMP},
      </if>
      <if test="tax_fee != null">
        tax_fee = #{tax_fee,jdbcType=DOUBLE},
      </if>
      <if test="pay_type != null">
        pay_type = #{pay_type,jdbcType=TINYINT},
      </if>
      <if test="pay_way != null">
        pay_way = #{pay_way,jdbcType=TINYINT},
      </if>
      <if test="pay_time != null">
        pay_time = #{pay_time,jdbcType=TIMESTAMP},
      </if>
      <if test="pay_code != null">
        pay_code = #{pay_code,jdbcType=VARCHAR},
      </if>
      <if test="pay_company_code != null">
        pay_company_code = #{pay_company_code,jdbcType=VARCHAR},
      </if>
      <if test="sea_channel != null">
        sea_channel = #{sea_channel,jdbcType=BIGINT},
      </if>
      <if test="custom_code != null">
        custom_code = #{custom_code,jdbcType=VARCHAR},
      </if>
      <if test="org_name != null">
        org_name = #{org_name,jdbcType=VARCHAR},
      </if>
      <if test="put_status != null">
        put_status = #{put_status,jdbcType=TINYINT},
      </if>
      <if test="sea_channel_name != null">
        sea_channel_name = #{sea_channel_name,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=TINYINT},
      </if>
      <if test="promoter_id != null">
        promoter_id = #{promoter_id,jdbcType=BIGINT},
      </if>
      <if test="shop_promoter_id != null">
        shop_promoter_id = #{shop_promoter_id,jdbcType=BIGINT},
      </if>
      <if test="scan_promoter_id != null">
        scan_promoter_id = #{scan_promoter_id,jdbcType=BIGINT},
      </if>
      <if test="track_source != null">
        track_source = #{track_source,jdbcType=TINYINT},
      </if>
      <if test="channel_code != null">
        channel_code = #{channel_code,jdbcType=VARCHAR},
      </if>
      <if test="group_id != null">
        group_id = #{group_id,jdbcType=BIGINT},
      </if>
      <if test="clearance_status != null">
        clearance_status = #{clearance_status,jdbcType=INTEGER},
      </if>
      <if test="put_order_status != null">
        put_order_status = #{put_order_status,jdbcType=INTEGER},
      </if>
      <if test="put_personalgoods_status != null">
        put_personalgoods_status = #{put_personalgoods_status,jdbcType=INTEGER},
      </if>
      <if test="put_waybill_status != null">
        put_waybill_status = #{put_waybill_status,jdbcType=INTEGER},
      </if>
      <if test="put_pay_status != null">
        put_pay_status = #{put_pay_status,jdbcType=INTEGER},
      </if>
      <if test="put_customs_times != null">
        put_customs_times = #{put_customs_times,jdbcType=INTEGER},
      </if>
      <if test="receive_tel != null">
        receive_tel = #{receive_tel,jdbcType=VARCHAR},
      </if>
      <if test="cdkey != null">
        cdkey = #{cdkey,jdbcType=VARCHAR},
      </if>
      <if test="order_type != null">
        order_type = #{order_type,jdbcType=INTEGER},
      </if>
      <if test="discount_rate != null">
        discount_rate = #{discount_rate,jdbcType=DOUBLE},
      </if>
      <if test="discount_amount != null">
        discount_amount = #{discount_amount,jdbcType=DOUBLE},
      </if>
      <if test="invoice_type != null">
        invoice_type = #{invoice_type,jdbcType=TINYINT},
      </if>
      <if test="ent_promoter_id != null">
        ent_promoter_id = #{ent_promoter_id,jdbcType=BIGINT},
      </if>
      <if test="enterprise_id != null">
        enterprise_id = #{enterprise_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lx.benefits.bean.entity.suborder.SubOrder">
    update ord_sub_order
    set order_code = #{order_code,jdbcType=BIGINT},
      parent_order_id = #{parent_order_id,jdbcType=BIGINT},
      parent_order_code = #{parent_order_code,jdbcType=BIGINT},
      order_status = #{order_status,jdbcType=TINYINT},
      type = #{type,jdbcType=TINYINT},
      quantity = #{quantity,jdbcType=INTEGER},
      total = #{total,jdbcType=DOUBLE},
      item_total = #{item_total,jdbcType=DOUBLE},
      original_total = #{original_total,jdbcType=DOUBLE},
      discount = #{discount,jdbcType=DOUBLE},
      freight = #{freight,jdbcType=DOUBLE},
      balance = #{balance,jdbcType=DOUBLE},
      points = #{points,jdbcType=DOUBLE},
      supplier_id = #{supplier_id,jdbcType=BIGINT},
      supplier_name = #{supplier_name,jdbcType=VARCHAR},
      supplier_alias = #{supplier_alias,jdbcType=VARCHAR},
      warehouse_id = #{warehouse_id,jdbcType=BIGINT},
      warehouse_name = #{warehouse_name,jdbcType=VARCHAR},
      put_sign = #{put_sign,jdbcType=SMALLINT},
      member_id = #{member_id,jdbcType=BIGINT},
      deleted = #{deleted,jdbcType=BIT},
      done_time = #{done_time,jdbcType=TIMESTAMP},
      fast_user_id = #{fast_user_id,jdbcType=BIGINT},
      consignee_name = #{consignee_name,jdbcType=VARCHAR},
      consignee_mobile = #{consignee_mobile,jdbcType=VARCHAR},
      account_name = #{account_name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      cancel_reason = #{cancel_reason,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      delivered_time = #{delivered_time,jdbcType=TIMESTAMP},
      tax_fee = #{tax_fee,jdbcType=DOUBLE},
      pay_type = #{pay_type,jdbcType=TINYINT},
      pay_way = #{pay_way,jdbcType=TINYINT},
      pay_time = #{pay_time,jdbcType=TIMESTAMP},
      pay_code = #{pay_code,jdbcType=VARCHAR},
      pay_company_code = #{pay_company_code,jdbcType=VARCHAR},
      sea_channel = #{sea_channel,jdbcType=BIGINT},
      custom_code = #{custom_code,jdbcType=VARCHAR},
      org_name = #{org_name,jdbcType=VARCHAR},
      put_status = #{put_status,jdbcType=TINYINT},
      sea_channel_name = #{sea_channel_name,jdbcType=VARCHAR},
      source = #{source,jdbcType=TINYINT},
      promoter_id = #{promoter_id,jdbcType=BIGINT},
      shop_promoter_id = #{shop_promoter_id,jdbcType=BIGINT},
      scan_promoter_id = #{scan_promoter_id,jdbcType=BIGINT},
      track_source = #{track_source,jdbcType=TINYINT},
      channel_code = #{channel_code,jdbcType=VARCHAR},
      group_id = #{group_id,jdbcType=BIGINT},
      clearance_status = #{clearance_status,jdbcType=INTEGER},
      put_order_status = #{put_order_status,jdbcType=INTEGER},
      put_personalgoods_status = #{put_personalgoods_status,jdbcType=INTEGER},
      put_waybill_status = #{put_waybill_status,jdbcType=INTEGER},
      put_pay_status = #{put_pay_status,jdbcType=INTEGER},
      put_customs_times = #{put_customs_times,jdbcType=INTEGER},
      receive_tel = #{receive_tel,jdbcType=VARCHAR},
      cdkey = #{cdkey,jdbcType=VARCHAR},
      order_type = #{order_type,jdbcType=INTEGER},
      discount_rate = #{discount_rate,jdbcType=DOUBLE},
      discount_amount = #{discount_amount,jdbcType=DOUBLE},
      invoice_type = #{invoice_type,jdbcType=TINYINT},
      ent_promoter_id = #{ent_promoter_id,jdbcType=BIGINT},
      enterprise_id = #{enterprise_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>