<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.ent.ClientUnionCodeMapper">
	<resultMap type="com.lx.benefits.bean.dto.mem.ClientUnionCode" id="ClientUnionCode">
				<id column="id" property="id"/>
				<result column="member_id" property="memberId"/>
				<result column="code" property="code"/>
				<result column="expires" property="expires"/>
				<result column="create_time" property="createTime"/>
				<result column="update_time" property="updateTime"/>
	</resultMap>
	
	<sql id="columns">
		id,member_id,code,expires,create_time,update_time
	</sql>

	<sql id="Example_Where_Clause">
		<where>
			<if test="id != null "> and id = #{id}</if>
			<if test="memberId != null "> and member_id = #{memberId}</if>
			<if test="code != null "> and code = #{code}</if>
		</where>
	</sql>

	<select id="queryByClientUnionCode" parameterType="com.lx.benefits.bean.dto.mem.ClientUnionCode" resultMap="ClientUnionCode">
		SELECT
		<include refid="columns"/>
		from mem_client_union_code
		<include refid="Example_Where_Clause"/>
	</select>


	<select id="queryByParam" parameterType="com.lx.benefits.bean.dto.mem.ClientUnionCode" resultMap="ClientUnionCode">
		SELECT
		<include refid="columns"/>
		from mem_client_union_code
		<include refid="Example_Where_Clause"/>
	</select>

	<select id="queryByCount" parameterType="com.lx.benefits.bean.dto.mem.ClientUnionCode" resultType="java.lang.Integer">
		select count(*) from mem_client_union_code
		<include refid="Example_Where_Clause"/>
	</select>


	<update id="updateById" parameterType="com.lx.benefits.bean.dto.mem.ClientUnionCode">
		update mem_client_union_code
		<trim prefix="SET" suffixOverrides=",">
			<if test="memberId != null ">member_id = #{memberId},</if>
			<if test="code != null  ">code = #{code},</if>
			<if test="expires != null  ">expires = #{expires},</if>
			<if test="updateTime != null  ">update_time = #{updateTime},</if>
		</trim>
		where id = #{id}
	</update>

	<insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.lx.benefits.bean.dto.mem.ClientUnionCode">
		insert into mem_client_union_code(member_id,code,expires,create_time,update_time)
		values (#{memberId}, #{code}, #{expires},#{createTime},#{updateTime})
	</insert>
</mapper>