<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.ent.ClientOrderItemMapper">
	<resultMap type="com.lx.benefits.bean.entity.ent.ClientOrderItem" id="clientOrderItem">
				<id column="id" property="id"/>
				<result column="client_order_id" property="clientOrderId"/>
				<result column="client_order_code" property="clientOrderCode"/>
				<result column="oid" property="oid"/>
				<result column="partner_sku" property="partnerSku"/>
				<result column="quantity" property="quantity"/>
				<result column="unit_price" property="unitPrice"/>
				<result column="create_time" property="createTime"/>
				<result column="update_time" property="updateTime"/>
	</resultMap>
	
	<sql id="columns">
		id,client_order_id,client_order_code,oid,partner_sku,quantity,unit_price,create_time,update_time
	</sql>

	<insert id="insert" parameterType="com.lx.benefits.bean.entity.ent.ClientOrderItem" useGeneratedKeys="true" keyProperty="id"  >
		insert into ent_client_order_item
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="clientOrderId != null  ">client_order_id,</if>
			<if test="clientOrderCode != null  ">client_order_code,</if>
			<if test="oid != null ">oid,</if>
			<if test="partnerSku != null ">partner_sku,</if>
			<if test="quantity != null   ">quantity,</if>
			<if test="unitPrice != null  ">unit_price,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="clientOrderId != null  ">#{clientOrderId},</if>
			<if test="clientOrderCode != null  ">#{clientOrderCode},</if>
			<if test="oid != null  and oid != ''  ">#{oid},</if>
			<if test="partnerSku != null    ">#{partnerSku},</if>
			<if test="quantity != null  ">#{quantity},</if>
			<if test="unitPrice != null  ">#{unitPrice},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
		</trim>
	</insert>
</mapper>