<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.ent.ClientInfoMapper">
	<resultMap type="com.lx.benefits.bean.entity.ent.ClientInfo" id="clientInfo">
				<id column="id" property="id"/>
				<result column="client_name" property="clientName"/>
				<result column="client_id" property="clientId"/>
				<result column="client_secret" property="clientSecret"/>
				<result column="token" property="token"/>
				<result column="expires" property="expires"/>
				<result column="expires_in" property="expiresIn"/>
				<result column="client_extra" property="clientExtra"/>
				<result column="url" property="url"/>
				<result column="create_time" property="createTime"/>
				<result column="update_time" property="updateTime"/>
				<result column="org_code" property="orgCode"/>
	</resultMap>
	
	<sql id="columns">
		id,client_name,client_id,client_secret,token,expires,expires_in,client_extra,url,create_time,update_time,org_code
	</sql>

	<sql id="Example_Where_Clause">
		<where>
			<if test="id != null "> and id = #{id}</if>
			<if test="clientName != null  and clientName != '' "> and client_name = #{clientName}</if>
			<if test="clientId != null  and clientId != '' "> and client_id = #{clientId}</if>
			<if test="token != null and token != '' "> and token = #{token}</if>
			<if test="orgCode != null and orgCode != '' "> and org_code = #{orgCode}</if>
		</where>
	</sql>

	<select id="queryByClientInfo" parameterType="com.lx.benefits.bean.entity.ent.ClientInfo" resultMap="clientInfo">
		SELECT
		<include refid="columns"/>
		from ent_client_info
		<include refid="Example_Where_Clause"/>
	</select>


	<select id="queryByParam" parameterType="com.lx.benefits.bean.entity.ent.ClientInfo" resultMap="clientInfo">
		SELECT
		<include refid="columns"/>
		from ent_client_info
		<include refid="Example_Where_Clause"/>
	</select>

	<select id="queryByCount" parameterType="com.lx.benefits.bean.entity.ent.ClientInfo" resultType="java.lang.Integer">
		select count(*) from ent_client_info
		<include refid="Example_Where_Clause"/>
	</select>


	<update id="updateById" parameterType="com.lx.benefits.bean.entity.ent.ClientInfo">
		update ent_client_info
		<trim prefix="SET" suffixOverrides=",">
			<if test="clientName != null  and clientName != ''  ">client_name = #{clientName},</if>
			<if test="clientId != null  and clientId != ''  ">client_id = #{clientId},</if>
			<if test="token != null  and token != ''  ">token = #{token},</if>
			<if test="expires != null  ">expires = #{expires},</if>
			<if test="expiresIn != null  ">expires_in = #{expiresIn},</if>
			<if test="orgCode != null  and orgCode != ''  ">org_code = #{orgCode},</if>
			<if test="clientExtra != null  and clientExtra != ''  ">client_extra = #{clientExtra},</if>
			<if test="url != null  and url != ''  ">url = #{url},</if>
			<if test="updateTime != null  ">update_time = #{updateTime},</if>
		</trim>
		where id = #{id}
	</update>
	
	<insert id="insert" parameterType="com.lx.benefits.bean.entity.ent.ClientInfo">
		insert into ent_client_info(client_name,org_code,client_id,client_secret,url,create_time,update_time)
		values (#{clientName,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, 
		 #{clientSecret,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
		 #{updateTime,jdbcType=TIMESTAMP})
	</insert>
	
	<sql id="Condition_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
	
	<select id="selectByExample" parameterType="com.lx.benefits.bean.entity.ent.ClientInfoCondition" resultMap="clientInfo">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="columns" />
    from ent_client_info
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
    
  </select>
   <select id="countByExample" parameterType="com.lx.benefits.bean.entity.ent.ClientInfoCondition" resultType="java.lang.Integer">
    select count(*) from ent_client_info
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
  </select>
  
</mapper>