<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.enterpruserinfo.EnterprCheckingRecorderMapper">
  <resultMap id="BaseResultMap" type="com.lx.benefits.bean.entity.enterpruserinfo.EnterprCheckingRecorder">
    <id column="enterpr_id" jdbcType="BIGINT" property="enterprId" />
    <result column="enterpr_name" jdbcType="VARCHAR" property="enterprName" />
    <result column="sub_enterpr_name" jdbcType="VARCHAR" property="subEnterprName" />
    <result column="enterpr_identity_id" jdbcType="VARCHAR" property="enterprIdentityId" />
    <result column="enterpr_register_address" jdbcType="VARCHAR" property="enterprRegisterAddress" />
    <result column="certify_image_url" jdbcType="VARCHAR" property="certifyImageUrl" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="leave_credit" jdbcType="INTEGER" property="leaveCredit" />
    <result column="contact_user" jdbcType="VARCHAR" property="contactUser" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="add_user" jdbcType="VARCHAR" property="addUser" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="agent_id" jdbcType="INTEGER" property="agentId" />
    <result column="check_user" jdbcType="VARCHAR" property="checkUser" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="check_status" jdbcType="INTEGER" property="checkStatus" />
    <result column="contract_number" jdbcType="VARCHAR" property="contractNumber" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="check_remark" jdbcType="VARCHAR" property="checkRemark" />
    <result column="registered_type" jdbcType="VARCHAR" property="registeredType" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    enterpr_id, enterpr_name, sub_enterpr_name, enterpr_identity_id, enterpr_register_address, 
    certify_image_url, country, province, city, county, street, address, leave_credit, 
    contact_user, mobile, email, add_user, add_time, agent_id, check_user, check_time, 
    check_status, contract_number, login_name, check_remark, registered_type, deleted, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.lx.benefits.bean.entity.enterpruserinfo.EnterprCheckingRecorderCondition" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from enterpr_checking_recorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from enterpr_checking_recorder
    where enterpr_id = #{enterprId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from enterpr_checking_recorder
    where enterpr_id = #{enterprId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lx.benefits.bean.entity.enterpruserinfo.EnterprCheckingRecorderCondition">
    delete from enterpr_checking_recorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lx.benefits.bean.entity.enterpruserinfo.EnterprCheckingRecorder">
    insert into enterpr_checking_recorder (enterpr_id, enterpr_name, sub_enterpr_name, 
      enterpr_identity_id, enterpr_register_address, 
      certify_image_url, country, province, 
      city, county, street, 
      address, leave_credit, contact_user, 
      mobile, email, add_user, 
      add_time, agent_id, check_user, 
      check_time, check_status, contract_number, 
      login_name, check_remark, registered_type, 
      deleted, update_time)
    values (#{enterprId,jdbcType=BIGINT}, #{enterprName,jdbcType=VARCHAR}, #{subEnterprName,jdbcType=VARCHAR}, 
      #{enterprIdentityId,jdbcType=VARCHAR}, #{enterprRegisterAddress,jdbcType=VARCHAR}, 
      #{certifyImageUrl,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{leaveCredit,jdbcType=INTEGER}, #{contactUser,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{addUser,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{agentId,jdbcType=INTEGER}, #{checkUser,jdbcType=VARCHAR}, 
      #{checkTime,jdbcType=TIMESTAMP}, #{checkStatus,jdbcType=INTEGER}, #{contractNumber,jdbcType=VARCHAR}, 
      #{loginName,jdbcType=VARCHAR}, #{checkRemark,jdbcType=VARCHAR}, #{registeredType,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lx.benefits.bean.entity.enterpruserinfo.EnterprCheckingRecorder">
    insert into enterpr_checking_recorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="enterprId != null">
        enterpr_id,
      </if>
      <if test="enterprName != null">
        enterpr_name,
      </if>
      <if test="subEnterprName != null">
        sub_enterpr_name,
      </if>
      <if test="enterprIdentityId != null">
        enterpr_identity_id,
      </if>
      <if test="enterprRegisterAddress != null">
        enterpr_register_address,
      </if>
      <if test="certifyImageUrl != null">
        certify_image_url,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="county != null">
        county,
      </if>
      <if test="street != null">
        street,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="leaveCredit != null">
        leave_credit,
      </if>
      <if test="contactUser != null">
        contact_user,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="addUser != null">
        add_user,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="agentId != null">
        agent_id,
      </if>
      <if test="checkUser != null">
        check_user,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="checkStatus != null">
        check_status,
      </if>
      <if test="contractNumber != null">
        contract_number,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="checkRemark != null">
        check_remark,
      </if>
      <if test="registeredType != null">
        registered_type,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="enterprId != null">
        #{enterprId,jdbcType=BIGINT},
      </if>
      <if test="enterprName != null">
        #{enterprName,jdbcType=VARCHAR},
      </if>
      <if test="subEnterprName != null">
        #{subEnterprName,jdbcType=VARCHAR},
      </if>
      <if test="enterprIdentityId != null">
        #{enterprIdentityId,jdbcType=VARCHAR},
      </if>
      <if test="enterprRegisterAddress != null">
        #{enterprRegisterAddress,jdbcType=VARCHAR},
      </if>
      <if test="certifyImageUrl != null">
        #{certifyImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="leaveCredit != null">
        #{leaveCredit,jdbcType=INTEGER},
      </if>
      <if test="contactUser != null">
        #{contactUser,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="addUser != null">
        #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=INTEGER},
      </if>
      <if test="checkUser != null">
        #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="contractNumber != null">
        #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="checkRemark != null">
        #{checkRemark,jdbcType=VARCHAR},
      </if>
      <if test="registeredType != null">
        #{registeredType,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lx.benefits.bean.entity.enterpruserinfo.EnterprCheckingRecorderCondition" resultType="java.lang.Long">
    select count(*) from enterpr_checking_recorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update enterpr_checking_recorder
    <set>
      <if test="record.enterprId != null">
        enterpr_id = #{record.enterprId,jdbcType=BIGINT},
      </if>
      <if test="record.enterprName != null">
        enterpr_name = #{record.enterprName,jdbcType=VARCHAR},
      </if>
      <if test="record.subEnterprName != null">
        sub_enterpr_name = #{record.subEnterprName,jdbcType=VARCHAR},
      </if>
      <if test="record.enterprIdentityId != null">
        enterpr_identity_id = #{record.enterprIdentityId,jdbcType=VARCHAR},
      </if>
      <if test="record.enterprRegisterAddress != null">
        enterpr_register_address = #{record.enterprRegisterAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.certifyImageUrl != null">
        certify_image_url = #{record.certifyImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.county != null">
        county = #{record.county,jdbcType=VARCHAR},
      </if>
      <if test="record.street != null">
        street = #{record.street,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.leaveCredit != null">
        leave_credit = #{record.leaveCredit,jdbcType=INTEGER},
      </if>
      <if test="record.contactUser != null">
        contact_user = #{record.contactUser,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.addUser != null">
        add_user = #{record.addUser,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.agentId != null">
        agent_id = #{record.agentId,jdbcType=INTEGER},
      </if>
      <if test="record.checkUser != null">
        check_user = #{record.checkUser,jdbcType=VARCHAR},
      </if>
      <if test="record.checkTime != null">
        check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkStatus != null">
        check_status = #{record.checkStatus,jdbcType=INTEGER},
      </if>
      <if test="record.contractNumber != null">
        contract_number = #{record.contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.loginName != null">
        login_name = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.checkRemark != null">
        check_remark = #{record.checkRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.registeredType != null">
        registered_type = #{record.registeredType,jdbcType=VARCHAR},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update enterpr_checking_recorder
    set enterpr_id = #{record.enterprId,jdbcType=BIGINT},
      enterpr_name = #{record.enterprName,jdbcType=VARCHAR},
      sub_enterpr_name = #{record.subEnterprName,jdbcType=VARCHAR},
      enterpr_identity_id = #{record.enterprIdentityId,jdbcType=VARCHAR},
      enterpr_register_address = #{record.enterprRegisterAddress,jdbcType=VARCHAR},
      certify_image_url = #{record.certifyImageUrl,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      county = #{record.county,jdbcType=VARCHAR},
      street = #{record.street,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      leave_credit = #{record.leaveCredit,jdbcType=INTEGER},
      contact_user = #{record.contactUser,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      add_user = #{record.addUser,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      agent_id = #{record.agentId,jdbcType=INTEGER},
      check_user = #{record.checkUser,jdbcType=VARCHAR},
      check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      check_status = #{record.checkStatus,jdbcType=INTEGER},
      contract_number = #{record.contractNumber,jdbcType=VARCHAR},
      login_name = #{record.loginName,jdbcType=VARCHAR},
      check_remark = #{record.checkRemark,jdbcType=VARCHAR},
      registered_type = #{record.registeredType,jdbcType=VARCHAR},
      deleted = #{record.deleted,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lx.benefits.bean.entity.enterpruserinfo.EnterprCheckingRecorder">
    update enterpr_checking_recorder
    <set>
      <if test="enterprName != null">
        enterpr_name = #{enterprName,jdbcType=VARCHAR},
      </if>
      <if test="subEnterprName != null">
        sub_enterpr_name = #{subEnterprName,jdbcType=VARCHAR},
      </if>
      <if test="enterprIdentityId != null">
        enterpr_identity_id = #{enterprIdentityId,jdbcType=VARCHAR},
      </if>
      <if test="enterprRegisterAddress != null">
        enterpr_register_address = #{enterprRegisterAddress,jdbcType=VARCHAR},
      </if>
      <if test="certifyImageUrl != null">
        certify_image_url = #{certifyImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="leaveCredit != null">
        leave_credit = #{leaveCredit,jdbcType=INTEGER},
      </if>
      <if test="contactUser != null">
        contact_user = #{contactUser,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="addUser != null">
        add_user = #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="agentId != null">
        agent_id = #{agentId,jdbcType=INTEGER},
      </if>
      <if test="checkUser != null">
        check_user = #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="contractNumber != null">
        contract_number = #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="checkRemark != null">
        check_remark = #{checkRemark,jdbcType=VARCHAR},
      </if>
      <if test="registeredType != null">
        registered_type = #{registeredType,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where enterpr_id = #{enterprId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lx.benefits.bean.entity.enterpruserinfo.EnterprCheckingRecorder">
    update enterpr_checking_recorder
    set enterpr_name = #{enterprName,jdbcType=VARCHAR},
      sub_enterpr_name = #{subEnterprName,jdbcType=VARCHAR},
      enterpr_identity_id = #{enterprIdentityId,jdbcType=VARCHAR},
      enterpr_register_address = #{enterprRegisterAddress,jdbcType=VARCHAR},
      certify_image_url = #{certifyImageUrl,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      leave_credit = #{leaveCredit,jdbcType=INTEGER},
      contact_user = #{contactUser,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      add_user = #{addUser,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      agent_id = #{agentId,jdbcType=INTEGER},
      check_user = #{checkUser,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      check_status = #{checkStatus,jdbcType=INTEGER},
      contract_number = #{contractNumber,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      check_remark = #{checkRemark,jdbcType=VARCHAR},
      registered_type = #{registeredType,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where enterpr_id = #{enterprId,jdbcType=BIGINT}
  </update>
</mapper>