<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.enterpruserinfo.EnterprUserInfoMapper">
  <resultMap id="UserInfoBeanMap" type="com.lx.benefits.bean.vo.enterpr.EnterprUserInfoBean">
    <id column="enterpr_id" jdbcType="BIGINT" property="enterprId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="secret" jdbcType="CHAR" property="secret" />
    <result column="enterpr_name" jdbcType="VARCHAR" property="enterprName" />
    <result column="account_status" jdbcType="INTEGER" property="accountStatus" />
    <result column="employee_num" jdbcType="INTEGER" property="employeeNum" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="leave_credit" jdbcType="INTEGER" property="leaveCredit" />
    <result column="contact_user" jdbcType="VARCHAR" property="contactUser" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="agent_id" jdbcType="INTEGER" property="agentId" />
    <result column="bind_time" jdbcType="TIMESTAMP" property="bindTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <select id="countWithAgentName" resultType="java.lang.Integer">
  	 SELECT count(*) 
  	 FROM enterpr_user_info LEFT JOIN agent_account_info
  	 ON enterpr_user_info.agent_id=agent_account_info.id
  	 <where>
   	   	<if test="enterprName!=null">
   			and enterpr_user_info.enterpr_name like concat('%',#{enterprName},'%')
   		</if>
   		<if test="agentName!=null">
   			and agent_account_info.agent_name like concat('%',#{agentName},'%')
   		</if>
   	</where>
  </select>
  <select id="selectWithAgentName" resultMap="UserInfoBeanMap">
  	SELECT  enterpr.enterpr_id, enterpr.login_name, enterpr.enterpr_name, enterpr.account_status, enterpr.employee_num, 
  		enterpr.contact_user, enterpr.mobile, enterpr.email, enterpr.create_time, agent.agent_name as agentName
  	FROM enterpr_user_info enterpr LEFT JOIN agent_account_info agent
   	ON enterpr.agent_id=agent.id
   	<where>
   	   	<if test="enterprName!=null">
   			and enterpr.enterpr_name like concat('%',#{enterprName},'%')
   		</if>
   		<if test="agentName!=null">
   			and agent.agent_name like concat('%',#{agentName},'%')
   		</if>
   	</where>
   	ORDER BY enterpr.enterpr_id DESC
   	<if test="pageBean!=null">
   		limit #{pageBean.offset},#{pageBean.pageSize}
   	</if>
  </select>
  <select id="selectEnterpriseNames" resultType="com.lx.benefits.bean.entity.enterpruserinfo.EnterprUserInfo">
  	select enterpr_id as enterprId, enterpr_name as enterprName
  	from enterpr_user_info
  	where enterpr_id in
  	<foreach collection="enterprIds" item="enterprId" separator="," open="(" close=")">
  		#{enterprId}
  	</foreach>
  </select>
</mapper>