<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.card.CardSaleOrderItemMapper">
   <insert id="batchInsert" parameterType="com.lx.benefits.bean.entity.card.CardSaleOrderItem">
    insert into card_sale_order_item (amount, num, sale_order_id )
    values 
    <foreach collection="records" item="record" separator=",">
    	(#{record.amount}, #{record.num}, #{saleOrderId})
    </foreach>
  </insert>
  <select id="getTotalAmountByStatus" resultType="com.lx.benefits.bean.vo.card.CardSaleOrderDetail">
  	select card_sale_order.customer_id as customerId, sum(card_sale_order_item.amount*card_sale_order_item.num) as totalAmount, 
  		sum(card_sale_order_item.num) as totalCount
  	from card_sale_order_item
  		inner join card_sale_order on card_sale_order_item.sale_order_id=card_sale_order.sale_order_id
  	where card_sale_order.customer_id in
  	<foreach collection="customerIds" item="customerId" separator="," open="(" close=")">
  		#{customerId}
  	</foreach>
  	<if test="status !=null">
  		and card_sale_order.status=#{status}
  	</if>
  	group by card_sale_order.customer_id
  </select>
</mapper>