<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.card.CardPayRecordMapper">
  <select id="selectBasicInfoByExample" parameterType="com.lx.benefits.bean.entity.card.CardPayRecordCondition" resultMap="BaseResultMap">
    select pay_amount, pay_voucher, remark, pay_time, create_user
    from card_pay_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="getTotalPayAmount" resultType="java.math.BigDecimal">
  	select IFNULL(sum(pay_amount),0)
  	from card_pay_record
  </select>
</mapper>