<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.card.EmployeeCardCreditMapper">
	<update id="updateCardCredit">
		update employee_card_credit
		set card_credit=card_credit + #{amount}
		where employee_id=#{employeeId}
		<if test="amount &lt; 0">
			and card_credit + #{amount}>=0
		</if>
	</update>
	
	<select id="employeeStockAmount" resultType="java.math.BigDecimal">
		select IFNULL(sum(card_credit),0) from employee_card_credit where card_credit > 0
	</select>
</mapper>