<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.enterprfestivalpacket.EnterprFestivalPacketMapper">
  <resultMap id="BaseResultMap" type="com.lx.benefits.bean.entity.enterprfestivalpacket.EnterprFestivalPacket">
    <id column="campaignId" jdbcType="BIGINT" property="campaignId" />
    <result column="enterprId" jdbcType="BIGINT" property="enterprId" />
    <result column="campaignName" jdbcType="VARCHAR" property="campaignName" />
    <result column="campaignNameEn" jdbcType="VARCHAR" property="campaignNameEn" />
    <result column="creditType" jdbcType="INTEGER" property="creditType" />
    <result column="campaignThemeId" jdbcType="INTEGER" property="campaignThemeId" />
    <result column="campaignThemeIdList" jdbcType="VARCHAR" property="campaignThemeIdList" />
    <result column="campaignStatus" jdbcType="INTEGER" property="campaignStatus" />
    <result column="startTime" jdbcType="INTEGER" property="startTime" />
    <result column="endTime" jdbcType="INTEGER" property="endTime" />
    <result column="creditListFile" jdbcType="VARCHAR" property="creditListFile" />
    <result column="goodsIdList" jdbcType="VARCHAR" property="goodsIdList" />
    <result column="bannerPath" jdbcType="VARCHAR" property="bannerPath" />
    <result column="defaultGoodsId" jdbcType="BIGINT" property="defaultGoodsId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="isDeleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="created" jdbcType="INTEGER" property="created" />
    <result column="updated" jdbcType="INTEGER" property="updated" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="campaignCode" jdbcType="VARCHAR" property="campaignCode" />
    <result column="isEmail" jdbcType="INTEGER" property="isEmail" />
    <result column="remind_email" jdbcType="VARCHAR"  property="remindEmail"/>
    <result column="isSms" jdbcType="INTEGER" property="isSms" />
    <result column="remind_sms" jdbcType="VARCHAR" property="remindSms" />
    <result column="third_pay" jdbcType="VARCHAR"  property="thirdPay"/>
	<result column="isWhitelist" jdbcType="BIT" property="isWhitelist" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="and">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    campaignId, enterprId, campaignName,campaignNameEn, creditType, campaignThemeId, campaignThemeIdList, campaignStatus,
    startTime, endTime, creditListFile, goodsIdList, bannerPath, defaultGoodsId, remark, 
    isDeleted, created, updated,type,campaignCode,isEmail,remind_email,isSms,remind_sms,third_pay,isWhitelist
  </sql>
  <select id="selectByExample" parameterType="com.lx.benefits.bean.entity.enterprfestivalpacket.EnterprFestivalPacketExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from enterpr_festival_packet
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null and pageSize != null">
      LIMIT #{page}, #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from enterpr_festival_packet
    where campaignId = #{campaignId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from enterpr_festival_packet
    where campaignId = #{campaignId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lx.benefits.bean.entity.enterprfestivalpacket.EnterprFestivalPacketExample">
    delete from enterpr_festival_packet
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lx.benefits.bean.entity.enterprfestivalpacket.EnterprFestivalPacket">
    insert into enterpr_festival_packet (campaignId, enterprId, campaignName,campaignNameEn,creditType, campaignThemeId, 
      campaignThemeIdList, campaignStatus, startTime, endTime, creditListFile, goodsIdList, bannerPath, defaultGoodsId, 
      remark, isDeleted, created, type,campaignCode,isEmail,remind_email,isSms,remind_sms,third_pay,isWhitelist)
    values (#{campaignId,jdbcType=BIGINT}, #{enterprId,jdbcType=BIGINT}, #{campaignName,jdbcType=VARCHAR},  #{campaignNameEn,jdbcType=VARCHAR},
      #{creditType,jdbcType=INTEGER}, #{campaignThemeId,jdbcType=INTEGER},#{campaignThemeIdList,jdbcType=VARCHAR}, #{campaignStatus,jdbcType=INTEGER}, 
      #{startTime,jdbcType=INTEGER}, #{endTime,jdbcType=INTEGER}, #{creditListFile,jdbcType=VARCHAR},
      #{goodsIdList,jdbcType=VARCHAR}, #{bannerPath,jdbcType=VARCHAR}, #{defaultGoodsId,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, UNIX_TIMESTAMP(NOW()), 
      UNIX_TIMESTAMP(NOW()),#{type,jdbcType=INTEGER},#{campaignCode,jdbcType=VARCHAR},#{isEmail,jdbcType=INTEGER},
      #{remindEmail,jdbcType=VARCHAR},#{isSms,jdbcType=INTEGER},#{remindSms,jdbcType=VARCHAR},#{thirdPay,jdbcType=INTEGER},#{isWhitelist,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="campaignId"  parameterType="com.lx.benefits.bean.entity.enterprfestivalpacket.EnterprFestivalPacket">
    insert into enterpr_festival_packet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="campaignId != null">
        campaignId,
      </if>
      <if test="enterprId != null">
        enterprId,
      </if>
      <if test="campaignName != null">
        campaignName,
      </if>
      <if test="campaignNameEn != null">
        campaignNameEn,
      </if>
      <if test="creditType != null">
        creditType,
      </if>
      <if test="campaignThemeId != null">
        campaignThemeId,
      </if>
      <if test="campaignThemeIdList != null">
        campaignThemeIdList,
      </if>
      <if test="campaignStatus != null">
        campaignStatus,
      </if>
      <if test="startTime != null">
        startTime,
      </if>
      <if test="endTime != null">
        endTime,
      </if>
      <if test="creditListFile != null">
        creditListFile,
      </if>
      <if test="goodsIdList != null">
        goodsIdList,
      </if>
      <if test="bannerPath != null">
        bannerPath,
      </if>
      <if test="defaultGoodsId != null">
        defaultGoodsId,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDeleted != null">
        isDeleted,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="campaignCode != null">
        campaignCode,
      </if>
      <if test="isEmail != null">
        isEmail,
      </if>
      <if test="remindEmail != null">
        remind_email,
      </if>
      <if test="isSms != null">
        isSms,
      </if>
      <if test="remindSms != null">
        remind_sms,
      </if>
      <if test="thirdPay != null">
        third_pay,
      </if>
      <if test="isWhitelist != null">
        isWhitelist,
      </if>
      created, updated
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="campaignId != null">
        #{campaignId,jdbcType=BIGINT},
      </if>
      <if test="enterprId != null">
        #{enterprId,jdbcType=BIGINT},
      </if>
      <if test="campaignName != null">
        #{campaignName,jdbcType=VARCHAR},
      </if>
      <if test="campaignNameEn != null">
        #{campaignNameEn,jdbcType=VARCHAR},
      </if>
      <if test="creditType != null">
        #{creditType,jdbcType=INTEGER},
      </if>
      <if test="campaignThemeId != null">
        #{campaignThemeId,jdbcType=INTEGER},
      </if>
      <if test="campaignThemeIdList != null">
        #{campaignThemeIdList,jdbcType=VARCHAR},
      </if>
      <if test="campaignStatus != null">
        #{campaignStatus,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=INTEGER},
      </if>
      <if test="creditListFile != null">
        #{creditListFile,jdbcType=VARCHAR},
      </if>
      <if test="goodsIdList != null">
        #{goodsIdList,jdbcType=VARCHAR},
      </if>
      <if test="bannerPath != null">
        #{bannerPath,jdbcType=VARCHAR},
      </if>
      <if test="defaultGoodsId != null">
        #{defaultGoodsId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="campaignCode != null">
        #{campaignCode,jdbcType=VARCHAR},
      </if>
      <if test="isEmail != null">
        #{isEmail,jdbcType=INTEGER},
      </if>
      <if test="remindEmail != null">
        #{remindEmail,jdbcType=VARCHAR},
      </if>
      <if test="isSms != null">
        #{isSms,jdbcType=INTEGER},
      </if>
      <if test="remindSms != null">
        #{remindSms,jdbcType=VARCHAR},
      </if>
      <if test="thirdPay != null">
        #{thirdPay,jdbcType=INTEGER},
      </if>
      <if test="isWhitelist != null">
        #{isWhitelist,jdbcType=BIT},
      </if>
      UNIX_TIMESTAMP(NOW()), UNIX_TIMESTAMP(NOW())
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lx.benefits.bean.entity.enterprfestivalpacket.EnterprFestivalPacketExample" resultType="java.lang.Integer">
    select count(*) from enterpr_festival_packet
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update enterpr_festival_packet
    <set>
      <if test="record.campaignId != null">
        campaignId = #{record.campaignId,jdbcType=BIGINT},
      </if>
      <if test="record.enterprId != null">
        enterprId = #{record.enterprId,jdbcType=BIGINT},
      </if>
      <if test="record.campaignName != null">
        campaignName = #{record.campaignName,jdbcType=VARCHAR},
      </if>
      <if test="record.campaignNameEn != null">
        campaignNameEn = #{record.campaignNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.creditType != null">
        creditType = #{record.creditType,jdbcType=INTEGER},
      </if>
      <if test="record.campaignThemeId != null">
        campaignThemeId = #{record.campaignThemeId,jdbcType=INTEGER},
      </if>
      <if test="record.campaignThemeIdList != null">
        campaignThemeIdList = #{record.campaignThemeIdList,jdbcType=VARCHAR},
      </if>
      <if test="record.campaignStatus != null">
        campaignStatus = #{record.campaignStatus,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null">
        startTime = #{record.startTime,jdbcType=INTEGER},
      </if>
      <if test="record.endTime != null">
        endTime = #{record.endTime,jdbcType=INTEGER},
      </if>
      <if test="record.creditListFile != null">
        creditListFile = #{record.creditListFile,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsIdList != null">
        goodsIdList = #{record.goodsIdList,jdbcType=VARCHAR},
      </if>
      <if test="record.bannerPath != null">
        bannerPath = #{record.bannerPath,jdbcType=VARCHAR},
      </if>
      <if test="record.defaultGoodsId != null">
        defaultGoodsId = #{record.defaultGoodsId,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        isDeleted = #{record.isDeleted,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.campaignCode != null">
        campaignCode = #{record.campaignCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isEmail != null">
        isEmail = #{record.isEmail,jdbcType=INTEGER},
      </if>
      <if test="record.remindEmail != null">
        remind_email = #{record.remindEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.isSms != null">
        isSms = #{record.isSms,jdbcType=INTEGER},
      </if>
      <if test="record.remindSms != null">
        remind_sms = #{record.remindSms,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdPay != null">
        third_pay = #{record.thirdPay,jdbcType=INTEGER},
      </if>
      <if test="record.isWhitelist != null">
        isWhitelist = #{record.isWhitelist,jdbcType=BIT},
      </if>
      updated = UNIX_TIMESTAMP(NOW())
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update enterpr_festival_packet
    set campaignId = #{record.campaignId,jdbcType=BIGINT},
      enterprId = #{record.enterprId,jdbcType=BIGINT},
      campaignName = #{record.campaignName,jdbcType=VARCHAR},
      campaignNameEn = #{record.campaignNameEn,jdbcType=VARCHAR},
      creditType = #{record.creditType,jdbcType=INTEGER},
      campaignThemeId = #{record.campaignThemeId,jdbcType=INTEGER},
      campaignStatus = #{record.campaignStatus,jdbcType=INTEGER},
      startTime = #{record.startTime,jdbcType=INTEGER},
      endTime = #{record.endTime,jdbcType=INTEGER},
      creditListFile = #{record.creditListFile,jdbcType=VARCHAR},
      goodsIdList = #{record.goodsIdList,jdbcType=VARCHAR},
      bannerPath = #{record.bannerPath,jdbcType=VARCHAR},
      defaultGoodsId = #{record.defaultGoodsId,jdbcType=BIGINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      isDeleted = #{record.isDeleted,jdbcType=INTEGER},
      updated = UNIX_TIMESTAMP(NOW()),
      type = #{record.type,jdbcType=INTEGER},
      campaignCode = #{record.campaignCode,jdbcType=VARCHAR},
      isEmail = #{record.isEmail,jdbcType=INTEGER},
      remind_email = #{record.remindEmail,jdbcType=VARCHAR},
      isSms = #{record.isSms,jdbcType=INTEGER},
      remind_sms = #{record.remindSms,jdbcType=VARCHAR},
      third_pay = #{record.thirdPay,jdbcType=INTEGER},
      isWhitelist = #{record.isWhitelist,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lx.benefits.bean.entity.enterprfestivalpacket.EnterprFestivalPacket">
    update enterpr_festival_packet
    <set>
      <if test="enterprId != null">
        enterprId = #{enterprId,jdbcType=BIGINT},
      </if>
      <if test="campaignName != null">
        campaignName = #{campaignName,jdbcType=VARCHAR},
      </if>
      <if test="campaignNameEn != null">
        campaignNameEn = #{campaignNameEn,jdbcType=VARCHAR},
      </if>
      <if test="creditType != null">
        creditType = #{creditType,jdbcType=INTEGER},
      </if>
      <if test="campaignThemeId != null">
        campaignThemeId = #{campaignThemeId,jdbcType=INTEGER},
      </if>
      <if test="campaignStatus != null">
        campaignStatus = #{campaignStatus,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        startTime = #{startTime,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        endTime = #{endTime,jdbcType=INTEGER},
      </if>
      <if test="creditListFile != null">
        creditListFile = #{creditListFile,jdbcType=VARCHAR},
      </if>
      <if test="goodsIdList != null">
        goodsIdList = #{goodsIdList,jdbcType=VARCHAR},
      </if>
      <if test="bannerPath != null">
        bannerPath = #{bannerPath,jdbcType=VARCHAR},
      </if>
      <if test="defaultGoodsId != null">
        defaultGoodsId = #{defaultGoodsId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        isDeleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="campaignCode != null">
        campaignCode = #{campaignCode,jdbcType=VARCHAR},
      </if>
      <if test="isEmail != null">
        campaignCode = #{isEmail,jdbcType=VARCHAR},
      </if>
      <if test="remindEmail != null">
        remind_email = #{remindEmail,jdbcType=VARCHAR},
      </if>
      <if test="isSms != null">
        isSms = #{isSms,jdbcType=VARCHAR},
      </if>
      <if test="remindSms != null">
        remind_sms = #{remindSms,jdbcType=VARCHAR},
      </if>
      <if test="thirdPay != null">
        third_pay = #{thirdPay,jdbcType=VARCHAR},
      </if>
      <if test="isWhitelist != null">
        isWhitelist = #{isWhitelist,jdbcType=VARCHAR},
      </if>
      updated = UNIX_TIMESTAMP(NOW())
    </set>
    where campaignId = #{campaignId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lx.benefits.bean.entity.enterprfestivalpacket.EnterprFestivalPacket">
    update enterpr_festival_packet
    set enterprId = #{enterprId,jdbcType=BIGINT},
      campaignName = #{campaignName,jdbcType=VARCHAR},
      campaignNameEn = #{campaignNameEn,jdbcType=VARCHAR},
      creditType = #{creditType,jdbcType=INTEGER},
      campaignThemeId = #{campaignThemeId,jdbcType=INTEGER},
      campaignStatus = #{campaignStatus,jdbcType=INTEGER},
      startTime = #{startTime,jdbcType=INTEGER},
      endTime = #{endTime,jdbcType=INTEGER},
      creditListFile = #{creditListFile,jdbcType=VARCHAR},
      goodsIdList = #{goodsIdList,jdbcType=VARCHAR},
      bannerPath = #{bannerPath,jdbcType=VARCHAR},
      defaultGoodsId = #{defaultGoodsId,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      isDeleted = #{isDeleted,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      campaignCode = #{record.campaignCode,jdbcType=VARCHAR},
      isEmail = #{record.isEmail,jdbcType=INTEGER},
      remind_email = #{record.remindEmail,jdbcType=VARCHAR},
      isSms = #{record.isSms,jdbcType=INTEGER},
      remind_sms = #{record.remindSms,jdbcType=VARCHAR},
      third_pay = #{record.thirdPay,jdbcType=INTEGER},
      isWhitelist = #{record.isWhitelist,jdbcType=BIT},
      updated = UNIX_TIMESTAMP(NOW())
    where campaignId = #{campaignId,jdbcType=BIGINT}
  </update>
</mapper>