<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.memadressimport.AddressImportMapper">
  <resultMap id="BaseResultMap" type="com.lx.benefits.bean.entity.memadressimport.AddressImportInfo">
    <id column="importId" jdbcType="BIGINT" property="importId" />
    <result column="enterprId" jdbcType="BIGINT" property="enterprId" />
    <result column="fileUrl" jdbcType="VARCHAR" property="fileUrl" />
    <result column="optUserId" jdbcType="BIGINT" property="optUserId" />
    <result column="importCount" jdbcType="BIGINT" property="importCount" />
    <result column="importSuc" jdbcType="BIGINT" property="importSuc" />
    <result column="importErr" jdbcType="BIGINT" property="importErr" />
    <result column="isDeleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="created" jdbcType="INTEGER" property="created" />
    <result column="updated" jdbcType="INTEGER" property="updated" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    importId, enterprId, fileUrl, optUserId, importCount,importSuc,importErr, isDeleted, created, updated
  </sql>
  <select id="selectByExample" parameterType="com.lx.benefits.bean.entity.memadressimport.AddressImportInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mem_address_import
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="start != null and pageSize != null">
      LIMIT #{start}, #{pageSize}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mem_address_import
    where importId = #{importId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mem_address_import
    where importId = #{importId,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByExample" parameterType="com.lx.benefits.bean.entity.memadressimport.AddressImportInfoExample">
    delete from mem_address_import
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" parameterType="com.lx.benefits.bean.entity.memadressimport.AddressImportInfo" useGeneratedKeys="true" keyProperty="importId">
    insert into mem_address_import (importId, enterprId, fileUrl,
      optUserId, importCount,importSuc,importErr, isDeleted,
      created, updated)
    values (#{importId,jdbcType=BIGINT}, #{enterprId,jdbcType=BIGINT}, #{fileUrl,jdbcType=VARCHAR}, 
      #{optUserId,jdbcType=BIGINT}, #{importCount,jdbcType=BIGINT},#{importSuc,jdbcType=BIGINT},#{importErr,jdbcType=BIGINT}, #{isDeleted,jdbcType=INTEGER},
      UNIX_TIMESTAMP(NOW()), UNIX_TIMESTAMP(NOW()))
  </insert>

  <insert id="insertSelective" parameterType="com.lx.benefits.bean.entity.memadressimport.AddressImportInfo" useGeneratedKeys="true" keyProperty="importId">
    insert into mem_address_import
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="importId != null">
        importId,
      </if>
      <if test="enterprId != null">
        enterprId,
      </if>
      <if test="fileUrl != null">
        fileUrl,
      </if>
      <if test="optUserId != null">
        optUserId,
      </if>
      <if test="importCount != null">
        importCount,
      </if>
      <if test="importSuc != null">
        importSuc,
      </if>
      <if test="importErr != null">
        importErr,
      </if>
      <if test="isDeleted != null">
        isDeleted,
      </if>
      created,updated
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="importId != null">
        #{importId,jdbcType=BIGINT},
      </if>
      <if test="enterprId != null">
        #{enterprId,jdbcType=BIGINT},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="optUserId != null">
        #{optUserId,jdbcType=BIGINT},
      </if>
      <if test="importCount != null">
        #{importCount,jdbcType=BIGINT},
      </if>
      <if test="importSuc != null">
        #{importSuc,jdbcType=BIGINT},
      </if>
      <if test="importErr != null">
        #{importErr,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      UNIX_TIMESTAMP(NOW()), UNIX_TIMESTAMP(NOW())
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.lx.benefits.bean.entity.memadressimport.AddressImportInfoExample" resultType="java.lang.Integer">
    select count(*) from mem_address_import
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update mem_address_import
    <set>
      <if test="record.importCount != null">
        importCount = #{record.importCount,jdbcType=BIGINT},
      </if>
      <if test="record.importSuc != null">
        importSuc = #{record.importSuc,jdbcType=BIGINT},
      </if>
      <if test="record.importErr != null">
        importErr = #{record.importErr,jdbcType=BIGINT},
      </if>
      updated = UNIX_TIMESTAMP(NOW())
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExample" parameterType="map">
    update mem_address_import
    set importId = #{record.importId,jdbcType=BIGINT},
      enterprId = #{record.enterprId,jdbcType=BIGINT},
      fileUrl = #{record.fileUrl,jdbcType=VARCHAR},
      optUserId = #{record.optUserId,jdbcType=BIGINT},
      importCount = #{record.importCount,jdbcType=BIGINT},
      importSuc = #{record.importSuc,jdbcType=BIGINT},
      importErr = #{record.importErr,jdbcType=BIGINT},
      isDeleted = #{record.isDeleted,jdbcType=INTEGER},
      updated = UNIX_TIMESTAMP(NOW())
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.lx.benefits.bean.entity.memadressimport.AddressImportInfo">
    update mem_address_import
    <set>
      <if test="importCount != null">
        importCount = #{importCount,jdbcType=BIGINT},
      </if>
      <if test="importSuc != null">
        importSuc = #{importSuc,jdbcType=BIGINT},
      </if>
      <if test="importErr != null">
        importErr = #{importErr,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        isDeleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=INTEGER},
      </if>
      <if test="enterprId != null">
        enterprId = #{enterprId,jdbcType=INTEGER},
      </if>
      updated = UNIX_TIMESTAMP(NOW())
    </set>
    where importId = #{importId,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.lx.benefits.bean.entity.memadressimport.AddressImportInfo">
    update mem_address_import
    set enterprId = #{enterprId,jdbcType=BIGINT},
      fileUrl = #{fileUrl,jdbcType=VARCHAR},
      optUserId = #{optUserId,jdbcType=BIGINT},
      importCount = #{importCount,jdbcType=BIGINT},
      importSuc = #{importSuc,jdbcType=BIGINT},
      importErr = #{importErr,jdbcType=BIGINT},
      isDeleted = #{isDeleted,jdbcType=INTEGER},
      created = #{created,jdbcType=INTEGER},
      updated = UNIX_TIMESTAMP(NOW())
    where importId = #{importId,jdbcType=BIGINT}
  </update>
</mapper>