<component name="ArtifactManager">
  <artifact type="war" name="SpringBootScaffolding:war">
    <output-path>$PROJECT_DIR$/SpringBootScaffolding/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringBootScaffolding</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringBootScaffolding-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringBootScaffolding:war exploded" />
    </root>
  </artifact>
</component>