<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.enterprcustomgoods.EnterprCustomGoodsMapper">
  <resultMap id="BaseResultMap" type="com.lx.benefits.bean.entity.enterprcustomgoods.EnterprCustomGoods">
    <id column="customId" jdbcType="BIGINT" property="customId" />
    <result column="enterprId" jdbcType="BIGINT" property="enterprId" />
    <result column="hotGoodsIdList" jdbcType="VARCHAR" property="hotGoodsIdList" />
    <result column="topicIdsList" jdbcType="VARCHAR" property="topicIdsList" />
    <result column="brandIdsList" jdbcType="VARCHAR" property="brandIdsList" />
    <result column="supplierIdsList" jdbcType="VARCHAR" property="supplierIdsList" />
    <result column="categoryIdsList" jdbcType="VARCHAR" property="categoryIdsList" />
    <result column="isDeleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="created" jdbcType="INTEGER" property="created" />
    <result column="updated" jdbcType="INTEGER" property="updated" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    customId, enterprId, hotGoodsIdList, topicIdsList,supplierIdsList, brandIdsList, categoryIdsList, lowestPrice, isDeleted, created, updated
  </sql>
  <select id="selectByExample" parameterType="com.lx.benefits.bean.entity.enterprcustomgoods.EnterprCustomGoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from enterpr_custom_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null and pageSize != null">
      LIMIT #{page}, #{pageSize}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from enterpr_custom_goods
    where customId = #{customId,jdbcType=BIGINT}
  </select>

  <select id="selectByEnterprId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from enterpr_custom_goods
    where enterprId = #{enterprId,jdbcType=BIGINT}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from enterpr_custom_goods
    where customId = #{customId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lx.benefits.bean.entity.enterprcustomgoods.EnterprCustomGoodsExample">
    delete from enterpr_custom_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lx.benefits.bean.entity.enterprcustomgoods.EnterprCustomGoods">
    insert into enterpr_custom_goods (customId, enterprId, hotGoodsIdList, 
      topicIdsList, brandIdsList, categoryIdsList,supplierIdsList
      isDeleted, created, updated
      )
    values (#{customId,jdbcType=BIGINT}, #{enterprId,jdbcType=BIGINT}, #{hotGoodsIdList,jdbcType=VARCHAR}, 
      #{topicIdsList,jdbcType=VARCHAR}, #{brandIdsList,jdbcType=VARCHAR},
      #{categoryIdsList,jdbcType=VARCHAR},#{supplierIdsList,jdbcType=VARCHAR},
      #{isDeleted,jdbcType=TINYINT}, UNIX_TIMESTAMP(NOW()), UNIX_TIMESTAMP(NOW())
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="customId" parameterType="com.lx.benefits.bean.entity.enterprcustomgoods.EnterprCustomGoods">
    insert into enterpr_custom_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customId != null">
        customId,
      </if>
      <if test="enterprId != null">
        enterprId,
      </if>
      <if test="hotGoodsIdList != null">
        hotGoodsIdList,
      </if>
      <if test="topicIdsList != null">
        topicIdsList,
      </if>
      <if test="brandIdsList != null">
        brandIdsList,
      </if>
      <if test="categoryIdsList != null">
        categoryIdsList,
      </if>
      <if test="supplierIdsList != null">
        supplierIdsList,
      </if>
      <if test="isDeleted != null">
        isDeleted,
      </if>
      created, updated
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customId != null">
        #{customId,jdbcType=BIGINT},
      </if>
      <if test="enterprId != null">
        #{enterprId,jdbcType=BIGINT},
      </if>
      <if test="hotGoodsIdList != null">
        #{hotGoodsIdList,jdbcType=VARCHAR},
      </if>
      <if test="topicIdsList != null">
        #{topicIdsList,jdbcType=VARCHAR},
      </if>
      <if test="brandIdsList != null">
        #{brandIdsList,jdbcType=VARCHAR},
      </if>
      <if test="categoryIdsList != null">
        #{categoryIdsList,jdbcType=VARCHAR},
      </if>
      <if test="supplierIdsList != null">
        #{supplierIdsList,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      UNIX_TIMESTAMP(NOW()), UNIX_TIMESTAMP(NOW())
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lx.benefits.bean.entity.enterprcustomgoods.EnterprCustomGoodsExample" resultType="java.lang.Integer">
    select count(*) from enterpr_custom_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update enterpr_custom_goods
    <set>
      <if test="record.customId != null">
        customId = #{record.customId,jdbcType=BIGINT},
      </if>
      <if test="record.enterprId != null">
        enterprId = #{record.enterprId,jdbcType=BIGINT},
      </if>
      <if test="record.hotGoodsIdList != null">
        hotGoodsIdList = #{record.hotGoodsIdList,jdbcType=VARCHAR},
      </if>
      <if test="record.topicIdsList != null">
        topicIdsList = #{record.topicIdsList,jdbcType=VARCHAR},
      </if>
      <if test="record.brandIdsList != null">
        brandIdsList = #{record.brandIdsList,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryIdsList != null">
        categoryIdsList = #{record.categoryIdsList,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierIdsList != null">
        supplierIdsList = #{record.supplierIdsList,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        isDeleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      updated = UNIX_TIMESTAMP(NOW())
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update enterpr_custom_goods
    set customId = #{record.customId,jdbcType=BIGINT},
      enterprId = #{record.enterprId,jdbcType=BIGINT},
      hotGoodsIdList = #{record.hotGoodsIdList,jdbcType=VARCHAR},
      topicIdsList = #{record.topicIdsList,jdbcType=VARCHAR},
      brandIdsList = #{record.brandIdsList,jdbcType=VARCHAR},
      categoryIdsList = #{record.categoryIdsList,jdbcType=VARCHAR},
      supplierIdsList = #{record.supplierIdsList,jdbcType=VARCHAR},
      isDeleted = #{record.isDeleted,jdbcType=TINYINT},
      updated = UNIX_TIMESTAMP(NOW())
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lx.benefits.bean.entity.enterprcustomgoods.EnterprCustomGoods">
    update enterpr_custom_goods
    <set>
      <if test="enterprId != null">
        enterprId = #{enterprId,jdbcType=BIGINT},
      </if>
      <if test="hotGoodsIdList != null">
        hotGoodsIdList = #{hotGoodsIdList,jdbcType=VARCHAR},
      </if>
      <if test="topicIdsList != null">
        topicIdsList = #{topicIdsList,jdbcType=VARCHAR},
      </if>
      <if test="brandIdsList != null">
        brandIdsList = #{brandIdsList,jdbcType=VARCHAR},
      </if>
      <if test="categoryIdsList != null">
        categoryIdsList = #{categoryIdsList,jdbcType=VARCHAR},
      </if>
      <if test="supplierIdsList != null">
        supplierIdsList = #{supplierIdsList,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        isDeleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      updated = UNIX_TIMESTAMP(NOW())
    </set>
    where customId = #{customId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lx.benefits.bean.entity.enterprcustomgoods.EnterprCustomGoods">
    update enterpr_custom_goods
    set enterprId = #{enterprId,jdbcType=BIGINT},
      hotGoodsIdList = #{hotGoodsIdList,jdbcType=VARCHAR},
      topicIdsList = #{topicIdsList,jdbcType=VARCHAR},
      brandIdsList = #{brandIdsList,jdbcType=VARCHAR},
      categoryIdsList = #{categoryIdsList,jdbcType=VARCHAR},
      supplierIdsList = #{supplierIdsList,jdbcType=VARCHAR},
      isDeleted = #{isDeleted,jdbcType=TINYINT},
      updated = UNIX_TIMESTAMP(NOW())
    where customId = #{customId,jdbcType=BIGINT}
  </update>

  <select id="selectListByParam" parameterType="com.lx.benefits.bean.entity.enterprcustomgoods.EnterprCustomGoods" resultMap="BaseResultMap">
    select ec.*
    from enterpr_custom_goods as ec left join enterpr_user_info as eu on ec.enterprId = eu.enterpr_id
  </select>
</mapper>