<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.employeecreditinfo.EmployeeCreditInfoMapper">
    <resultMap id="BaseResultMap" type="com.lx.benefits.bean.entity.employeecreditinfo.EmployeeCreditInfo">
        <id column="creditId" jdbcType="BIGINT" property="creditId"/>
        <result column="employeeId" jdbcType="BIGINT" property="employeeId"/>
        <result column="creditType" jdbcType="TINYINT" property="creditType"/>
        <result column="campaignId" jdbcType="BIGINT" property="campaignId"/>
        <result column="credit" jdbcType="DECIMAL" property="credit"/>
        <result column="grain_value" jdbcType="DOUBLE" property="grainValue"/>
        <result column="grain_id" jdbcType="BIGINT" property="grainId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="isDeleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="is_read" jdbcType="TINYINT" property="isRead"/>
        <result column="created" jdbcType="INTEGER" property="created"/>
        <result column="updated" jdbcType="INTEGER" property="updated"/>
        <result column="article_id_list" jdbcType="VARCHAR" property="articleIdList"/>
        <result column="used_vouchers" jdbcType="VARCHAR" property="usedVouchers"/>
        <result column="received_vouchers" jdbcType="VARCHAR" property="receivedVouchers"/>
        <result column="received_seckillIds" jdbcType="VARCHAR" property="receivedSeckillIds"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        creditId, employeeId, creditType, campaignId, credit, status, isDeleted, created,
        updated,is_read,article_id_list,used_vouchers,received_vouchers,received_seckillIds
    </sql>
    <select id="selectByExample" parameterType="com.lx.benefits.bean.entity.employeecreditinfo.EmployeeCreditInfoExample"
            resultMap="BaseResultMap">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from employee_credit_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="page != null and pageSize != null">
            LIMIT #{page}, #{pageSize}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        select
        <include refid="Base_Column_List"/>
        from employee_credit_info
        where creditId = #{creditId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        delete from employee_credit_info
        where creditId = #{creditId,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.lx.benefits.bean.entity.employeecreditinfo.EmployeeCreditInfoExample">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        delete from employee_credit_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.lx.benefits.bean.entity.employeecreditinfo.EmployeeCreditInfo">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        insert into employee_credit_info (creditId, employeeId, creditType,
        campaignId, credit, status,
        isDeleted, created, updated
        )
        values (#{creditId,jdbcType=BIGINT}, #{employeeId,jdbcType=BIGINT}, #{creditType,jdbcType=TINYINT},
        #{campaignId,jdbcType=BIGINT}, #{credit,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT},
        #{isDeleted,jdbcType=TINYINT}, #{created,jdbcType=INTEGER}, #{updated,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="creditId"
            parameterType="com.lx.benefits.bean.entity.employeecreditinfo.EmployeeCreditInfo">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        insert into employee_credit_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="creditId != null">
                creditId,
            </if>
            <if test="employeeId != null">
                employeeId,
            </if>
            <if test="creditType != null">
                creditType,
            </if>
            <if test="campaignId != null">
                campaignId,
            </if>
            <if test="credit != null">
                credit,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="isDeleted != null">
                isDeleted,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="updated != null">
                updated,
            </if>
            <if test="grainId != null">
                grain_id,
            </if>
            <if test="articleIdList != null">
                article_id_list,
            </if>
            <if test="grainValue != null">
                grain_value
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="creditId != null">
                #{creditId,jdbcType=BIGINT},
            </if>
            <if test="employeeId != null">
                #{employeeId,jdbcType=BIGINT},
            </if>
            <if test="creditType != null">
                #{creditType,jdbcType=TINYINT},
            </if>
            <if test="campaignId != null">
                #{campaignId,jdbcType=BIGINT},
            </if>
            <if test="credit != null">
                #{credit,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="created != null">
                #{created,jdbcType=INTEGER},
            </if>
            <if test="updated != null">
                #{updated,jdbcType=INTEGER},
            </if>
            <if test="grainId != null">
                #{grainId,jdbcType=INTEGER},
            </if>
            <if test="articleIdList != null and articleIdList != ''">
                #{articleIdList,jdbcType=VARCHAR},
            </if>
            <if test="grainValue != null">
                #{grainValue,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.lx.benefits.bean.entity.employeecreditinfo.EmployeeCreditInfoExample"
            resultType="java.lang.Integer">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        select count(*) from employee_credit_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <select id="findEmployeeCreditInfoListByEnterPrId"
            resultType="com.lx.benefits.bean.entity.employeecreditinfo.EmployeeCreditInfo">

    </select>

    <select id="listByEmployeeIdListAndCreditType"
            resultType="com.lx.benefits.bean.entity.employeecreditinfo.EmployeeCreditInfo">
        select
        <include refid="Base_Column_List"/>
        from employee_credit_info
        <where>
            <if test = "creditType != null ">
                and creditType = #{creditType}
            </if>
            and employeeId in
            <foreach collection="employeeIdList" item="item" open="(" close=")" separator=",">#{item}</foreach>
            and isDeleted = 0
        </where>
    </select>

    <select id="listByEmployeeIdListAndCampaignId"
            resultType="com.lx.benefits.bean.entity.employeecreditinfo.EmployeeCreditInfo">
        select
        <include refid="Base_Column_List"/>
        from employee_credit_info
        <where>
            <if test = "campaignId != null ">
                and campaignId = #{campaignId}
            </if>
            and employeeId in
            <foreach collection="employeeIdList" item="item" open="(" close=")" separator=",">#{item}</foreach>
            and isDeleted = 0
        </where>
    </select>


    <update id="updateByExampleSelective" parameterType="map">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        update employee_credit_info
        <set>
            <if test="record.creditId != null">
                creditId = #{record.creditId,jdbcType=BIGINT},
            </if>
            <if test="record.employeeId != null">
                employeeId = #{record.employeeId,jdbcType=BIGINT},
            </if>
            <if test="record.creditType != null">
                creditType = #{record.creditType,jdbcType=TINYINT},
            </if>
            <if test="record.campaignId != null">
                campaignId = #{record.campaignId,jdbcType=BIGINT},
            </if>
            <if test="record.credit != null">
                credit = #{record.credit,jdbcType=DECIMAL},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=TINYINT},
            </if>
            <if test="record.isDeleted != null">
                isDeleted = #{record.isDeleted,jdbcType=TINYINT},
            </if>
            <if test="record.created != null">
                created = #{record.created,jdbcType=INTEGER},
            </if>
            <if test="record.updated != null">
                updated = #{record.updated,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        update employee_credit_info
        set creditId = #{record.creditId,jdbcType=BIGINT},
        employeeId = #{record.employeeId,jdbcType=BIGINT},
        creditType = #{record.creditType,jdbcType=TINYINT},
        campaignId = #{record.campaignId,jdbcType=BIGINT},
        credit = #{record.credit,jdbcType=DECIMAL},
        status = #{record.status,jdbcType=TINYINT},
        isDeleted = #{record.isDeleted,jdbcType=TINYINT},
        created = #{record.created,jdbcType=INTEGER},
        updated = #{record.updated,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.lx.benefits.bean.entity.employeecreditinfo.EmployeeCreditInfo">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        update employee_credit_info
        <set>
            <if test="employeeId != null">
                employeeId = #{employeeId,jdbcType=BIGINT},
            </if>
            <if test="creditType != null">
                creditType = #{creditType,jdbcType=TINYINT},
            </if>
            <if test="campaignId != null">
                campaignId = #{campaignId,jdbcType=BIGINT},
            </if>
            <if test="credit != null">
                credit = #{credit,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="isDeleted != null">
                isDeleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=INTEGER},
            </if>
            <if test="updated != null">
                updated = #{updated,jdbcType=INTEGER},
            </if>
        </set>
        where creditId = #{creditId,jdbcType=BIGINT}
    </update>

    <update id="updateByEmployeeIdSelective" parameterType="com.lx.benefits.bean.entity.employeecreditinfo.EmployeeCreditInfo">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        update employee_credit_info
        <set>
            <if test="creditType != null">
                creditType = #{creditType,jdbcType=TINYINT},
            </if>
            <if test="campaignId != null">
                campaignId = #{campaignId,jdbcType=BIGINT},
            </if>
            <if test="grainValue != null">
                grain_value = grain_value + #{grainValue,jdbcType=DOUBLE},
                credit = credit + #{grainValue,jdbcType=DOUBLE},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="isDeleted != null">
                isDeleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=INTEGER},
            </if>
            <if test="updated != null">
                updated = #{updated,jdbcType=INTEGER},
            </if>
            <if test="isRead != null">
                is_read = #{isRead,jdbcType=TINYINT},
            </if>
            <if test="articleIdList != null and articleIdList != ''">
                article_id_list = #{articleIdList,jdbcType=VARCHAR}
            </if>
        </set>
        where employeeId = #{employeeId,jdbcType=BIGINT}
            and grain_id = #{grainId,jdbcType=BIGINT}
    </update>

    <select id="getByEmployeeIdAndGrainId"
            parameterType="com.lx.benefits.bean.entity.employeecreditinfo.EmployeeCreditInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from employee_credit_info
        where
        employeeId = #{employeeId,jdbcType=BIGINT}
        and grain_id = #{grainId,jdbcType=BIGINT}
    </select>

    <update id="updateGrainIdByEmployeeIdSelective" parameterType="com.lx.benefits.bean.entity.employeecreditinfo.EmployeeCreditInfo">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        update employee_credit_info
        <set>
            <if test="creditType != null">
                creditType = #{creditType,jdbcType=TINYINT},
            </if>
            <if test="grainId != null">
                grain_id = #{grainId,jdbcType=BIGINT},
            </if>
            <if test="usedVouchers != null">
                used_vouchers = #{usedVouchers,jdbcType=VARCHAR},
            </if>
            <if test="receivedVouchers != null">
                received_vouchers = #{receivedVouchers,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="isDeleted != null">
                isDeleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=INTEGER},
            </if>
            <if test="updated != null">
                updated = #{updated,jdbcType=INTEGER},
            </if>
            <if test="receivedSeckillIds != null and receivedSeckillIds != ''">
                received_seckillIds = #{receivedSeckillIds,jdbcType=VARCHAR},
            </if>
        </set>
        where employeeId = #{employeeId,jdbcType=BIGINT}
        and campaignId = 0
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lx.benefits.bean.entity.employeecreditinfo.EmployeeCreditInfo">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Dec 18 03:09:33 CST 2018.
        -->
        update employee_credit_info
        set employeeId = #{employeeId,jdbcType=BIGINT},
        creditType = #{creditType,jdbcType=TINYINT},
        campaignId = #{campaignId,jdbcType=BIGINT},
        credit = #{credit,jdbcType=DECIMAL},
        status = #{status,jdbcType=TINYINT},
        isDeleted = #{isDeleted,jdbcType=TINYINT},
        created = #{created,jdbcType=INTEGER},
        updated = #{updated,jdbcType=INTEGER}
        where creditId = #{creditId,jdbcType=BIGINT}
    </update>

    <update id="updateEmployeeCreditInfoAddCredit">
        update employee_credit_info set credit = credit + #{credit},updated = #{updated}
        where employeeId = #{employeeId} and creditType = #{creditType} and campaignId = 0
    </update>
    <update id="updateEmployeeCreditInfoReduceCredit">
        update employee_credit_info set credit = credit - #{credit},updated = #{updated}
        <where>
            employeeId = #{employeeId}  and credit - #{credit} = 0
            <if test =" creditType != null ">
                and creditType = #{creditType}
            </if>
        </where>
    </update>

    <update id="updateEmployeeCredit">
        update employee_credit_info set credit = credit - #{credit},updated = #{updated}
        <where>
            employeeId = #{employeeId}  and credit - #{credit} >= 0
            <if test =" creditType != null ">
                and creditType = #{creditType}
            </if>
            <if test="campaignId !=null">
                and campaignId = #{campaignId}
            </if>
        </where>
    </update>

    <update id="updateEmployeeCreditInfo4Order">
        update
            employee_credit_info
        set
            credit = credit - #{credit},
            updated = #{updated}
        where
              employeeId = #{employeeId}
          and creditType = #{creditType}
          and campaignId = #{campaignId}
          and credit >= #{credit}
          and isDeleted = 0
    </update>

    <select id="selectEmployeeCreditInfo" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            employee_credit_info
        where
            employeeId = #{employeeId}
        and campaignId = #{campaignId}
        and isDeleted = 0
        limit 1
    </select>


    <select id="totalCreaditByParam"  resultMap="BaseResultMap">
        select  creditId, employeeId, creditType, campaignId, status, created, IFNULL(sum(credit),0) as credit
        from employee_credit_info
        where creditType = #{creditType}
        and employeeId in
        <foreach collection="employeeIdList" item="item" open="(" close=")" separator=",">#{item}</foreach>
        and isDeleted = 0
        group by employeeId
    </select>

    <update id="updateCredit" parameterType="com.lx.benefits.bean.entity.employeecreditinfo.EmployeeCreditOperateDto" >
		UPDATE employee_credit_info
		set credit = #{credit}
		where employeeId=#{employeeId}
		and credit = #{oriCredit}
		and creditId=#{creditId}
	</update>

    <select id="selectSumByCampaignId" resultType="java.lang.Double">
        select IFNULL(sum(credit),0)  from employee_credit_info where isDeleted = 0 and campaignId = #{campaignId}
    </select>

    <select id="selectSumByExample" resultType="java.lang.Double" parameterType="map">
        select IFNULL(sum(credit),0)  from employee_credit_info
        <where>
            isDeleted = 0
            <if test="campaignId != null">
                and campaignId = #{campaignId}
            </if>
            <if test="employeeId != null">
                and employeeId = #{employeeId}
            </if>
        </where>
    </select>

    <select id="festivalInfo"  parameterType="java.lang.Long" resultType = "com.lx.benefits.bean.dto.enterpriseadmin.credit.EmployeeCreditResDto">
        select ef.campaignId,ef.campaignName,sum(ec.credit) as credit,ef.campaignStatus ,ec.creditType from employee_credit_info as ec LEFT JOIN enterpr_festival_packet as ef on ec.campaignId = ef.campaignId
        where
        ec.employeeId = #{employeeId} and ec.campaignId > 0 and ef.isDeleted = 0 and ec.creditType != 4
        group by ec.campaignId
    </select>

    <select id="getUserCreditByMemberId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM employee_credit_info
        where isDeleted = 0
        and employeeId =#{memberId}
    </select>
	
	<select id="inventoryCredit" resultType="java.math.BigDecimal">
		select ifnull(sum(credit),0) from employee_credit_info 
		where creditType in(1,2) and employeeId in (select employeeId from employee_user_info where enterprId = #{enterprId})
	</select>
	
	<select id="generalCredit" resultType="java.math.BigDecimal">
		select ifnull(sum(credit),0) from employee_credit_info 
		where creditType = 1 and employeeId in (select employeeId from employee_user_info where enterprId = #{enterprId})
	</select>
	
	<select id="festivalCredit" resultType="java.math.BigDecimal">
		select ifnull(sum(credit),0) from employee_credit_info 
		where creditType = 2 and employeeId in (select employeeId from employee_user_info where enterprId = #{enterprId})
	</select>
	
	<select id="queryGeneralCredit" resultMap="BaseResultMap">
		select employeeId,ifnull(sum(credit),0) as credit from employee_credit_info 
		where creditType = 1 and employeeId in 
		<foreach collection="employeeIdList" item="employeeId" open="(" close=")" separator=",">
    		#{employeeId}
    	</foreach> 
		GROUP BY employeeId ORDER BY employeeId
	</select>
	
	<select id="queryFestivalCredit" resultMap="BaseResultMap">
		select employeeId,ifnull(sum(credit),0) as credit from employee_credit_info 
		where creditType = 2 and employeeId in 
		<foreach collection="employeeIdList" item="employeeId" open="(" close=")" separator=",">
    		#{employeeId}
    	</foreach> 
		GROUP BY employeeId ORDER BY employeeId
	</select>
</mapper>
