<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.order.OrderPayMapper">


    <select id="selectByPayOrderNumber" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        order_pay
        <where>
            `PAY_ORDER_NUMBER`=#{payOrderNumber,jdbcType=BIGINT}
        </where>
    </select>
</mapper>

