<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.order.OrderShipLogisticsMapper">


    
	<insert id="insertBatch" >
		INSERT INTO 
		order_ship_logistics
		(
		`SELLER_ORDER_NUMBER`,
		`ITEM_ORDER_NUMBER`,
		`SHIP_TIME`,
		`SHIP_EXPRESS`,
		`SHIP_EXPRESS_NUMBER`,
		`REMARK`
		) VALUES
		<foreach collection="list" item="item" separator=",">
			(
			#{item.sellerOrderNumber,jdbcType=BIGINT},
			#{item.itemOrderNumber,jdbcType=BIGINT},
			#{item.shipTime,jdbcType=TIMESTAMP},
			#{item.shipExpress,jdbcType=VARCHAR},
			#{item.shipExpressNumber,jdbcType=VARCHAR},
			#{item.remark,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>


	<select id="selectItemOrderLogistics" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		order_ship_logistics
		<where>
			`ITEM_ORDER_NUMBER`=#{itemOrderNumber,jdbcType=BIGINT}
		</where>
	</select>

	<select id="selectSellerOrderLogistics" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
		order_ship_logistics
		<where>
			`SELLER_ORDER_NUMBER`=#{sellerOrderNumber,jdbcType=BIGINT}
		</where>
		group by ship_express,ship_express_number
	</select>

	
</mapper>

