<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.order.OrderShipMapper">

	<insert id="insertBatch" >
		INSERT INTO `order_ship`
		(
			`ORDER_NUMBER`,
			`BUYER_USER_ID`,
			`SHIP_TO_NAME`,
			`SHIP_TO_MOBILE`,
			`SHIP_TO_ZIP`,
			`SHIP_TO_PROVINCE`,
			`SHIP_TO_CITY`,
			`SHIP_TO_DISTRICT`,
			`SHIP_TO_TOWN`,
			`SHIP_TO_ADDRESS`,
			`USER_REAL_NAME`,
			`ID_CARD_NO`
		) VALUES
		<foreach collection="list" item="item" separator=",">
			(
			#{item.orderNumber,jdbcType=BIGINT},
			#{item.buyerUserId,jdbcType=BIGINT},
			#{item.shipToName,jdbcType=VARCHAR},
			#{item.shipToMobile,jdbcType=VARCHAR},
			#{item.shipToZip,jdbcType=VARCHAR},
			#{item.shipToProvince,jdbcType=VARCHAR},
			#{item.shipToCity,jdbcType=VARCHAR},
			#{item.shipToDistrict,jdbcType=VARCHAR},
			#{item.shipToTown,jdbcType=VARCHAR},
			#{item.shipToAddress,jdbcType=VARCHAR},
			#{item.userRealName,jdbcType=VARCHAR},
			#{item.idCardNo,jdbcType=VARCHAR}
			)
		</foreach>

	</insert>

	<select id="selectByOrderNumber" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		order_ship
		<where>
			`ORDER_NUMBER`=#{orderNumber,jdbcType=BIGINT}
		</where>
	</select>
	<select id="selectByProductOrderNumber" resultMap="BaseResultMap">
		SELECT order_ship.order_number, order_ship.buyer_user_id, order_ship.ship_to_name, order_ship.ship_to_mobile,
			order_ship.ship_to_zip, order_ship.ship_to_province, order_ship.ship_to_city, order_ship.ship_to_district,
			order_ship.ship_to_town, order_ship.ship_to_address, order_ship.user_real_name, order_ship.id_card_no
		FROM order_ship
			inner join  `order` on order_ship.order_number=`order`.parent_number and `order`.number=#{orderNumber}
		where `order`.level=3
	</select>
</mapper>

