<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.order.OrderPayRecordMapper">



	<select id="selectByPayMark" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM 
			order_pay_record
		<where>
			`PAY_MARK`=#{payMark,jdbcType=VARCHAR}
		AND `PAY_CHANNEL`=#{payChannel,jdbcType=TINYINT}
		</where>
	</select>

	<update id="updatePayStatusByPayMark">
		UPDATE order_pay_record
		<set>
			`PAY_TID`=#{payTid,jdbcType=VARCHAR},
			`IS_PAY`=#{isPay,jdbcType=TINYINT}
		</set>
		<where>
				`PAY_MARK`=#{payMark,jdbcType=VARCHAR}
			AND `PAY_CHANNEL`=#{payChannel,jdbcType=TINYINT}
		</where>
	</update>
    
	
</mapper>

