<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.order.ProductOrderExMapper">

	<insert id="insertBatch">
		INSERT INTO
			product_order_ex
		(
			`ORDER_NUMBER`,
			`BUYER_USER_ID`,
			`SKU_ID`,
			`TITLE_EN`,
			`TITLE`,
			`IMAGE`,
			`PRICE`,
			`NOW_PRICE`,
			`COST_PRICE`,
			`SPEC`,
			`DELIVER_AREA_ID`,
			`DELIVER_CODE`
		) VALUES
		<foreach collection="list" item="item" separator=",">
			(
			#{item.orderNumber,jdbcType=BIGINT},
			#{item.buyerUserId,jdbcType=BIGINT},
			#{item.skuId,jdbcType=BIGINT},
			#{item.titleEn,jdbcType=VARCHAR},
			#{item.title,jdbcType=VARCHAR},
			#{item.image,jdbcType=VARCHAR},
			#{item.price,jdbcType=BIGINT},
			#{item.nowPrice,jdbcType=BIGINT},
			#{item.costPrice,jdbcType=BIGINT},
			#{item.spec,jdbcType=VARCHAR},
			#{item.deliverAreaId,jdbcType=BIGINT},
			#{item.deliverCode,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>

	<select id="selectUserItemOrderList" resultType="com.lx.benefits.bean.vo.order.ItemOrderVO">
		select
			po.order_number as itemOrderNumber,
			o.parent_number as sellerOrderNumber,
			po.sku_id as skuId,
			po.image as goodsImg,
			po.title as title,
			po.title_en as titleEn,
			po.now_price as goodsPrice,
			po.spec as goodsSpec,
			o.point_amount as pointAmount,
			o.ship_expense_point_amount as shipExpensePointAmount,
			o.quantity as quantity,
			o.price as totalGoodsPrice,
			o.ship_expense as totalGoodsFreight,
			o.reverse_status as reverseStatus,
			o.spu_code as spuCode,
			p.goods_type as goodsType
		from product_order_ex po,
			 `order` o,product p
		where o.number = po.order_number
		  and p.spu_code = o.spu_code
		  and o.level = 3
		  and o.buyer_user_id=#{userId}
		  <foreach collection="sellerOrderNumberList" item="sellerOrderNumber" open="and o.parent_number in (" close=")" separator=",">
			  #{sellerOrderNumber}
		  </foreach>
		  <if test="listItemOrderNumbers !=null and listItemOrderNumbers.size>0">
		  	<foreach collection="listItemOrderNumbers" item="itemOrderNumber" open="and po.order_number in (" close=")" separator=",">
			  #{itemOrderNumber}
		  	</foreach>
		  </if>
	</select>

	<select id="selectItemOrderList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from product_order_ex
		<where>
			<foreach collection="itemOrderNumberList" item="itemOrderNumber" open=" order_number in (" close=")" separator=",">
				#{itemOrderNumber}
			</foreach>
		</where>
	</select>
</mapper>

