<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.grain.GrainSpecialPersonMapper">
    <resultMap id="BaseResultMap" type="com.lx.benefits.bean.dto.grain.GrainSpecialPerson">
        <id column="special_person_id" jdbcType="BIGINT" property="specialPersonId" />
        <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
        <result column="employee_name" jdbcType="VARCHAR" property="employeeName" />
        <result column="employee_no" jdbcType="VARCHAR" property="employeeNo" />
        <result column="single_award_grain_value" jdbcType="DOUBLE" property="singleAwardGrainValue" />
        <result column="enterpr_id" jdbcType="INTEGER" property="enterprId" />
        <result column="created" jdbcType="INTEGER" property="created" />
        <result column="updated" jdbcType="INTEGER" property="updated" />
    </resultMap>
    <sql id="Base_Column_List">
    special_person_id, employee_id, employee_name, single_award_grain_value, enterpr_id,
    created,updated,employee_no
  </sql>

    <select id="findrainSpecialPersonList" parameterType="com.lx.benefits.bean.dto.grain.GrainSpecialPerson" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grain_special_person
        where 1 = 1
        <if test="employeeId != null">
            and employee_id = #{employeeId}
        </if>
        <if test="employeeName != null and employeeName != ''">
            and employee_name = #{employeeName}
        </if>
        <if test="employeeNo != null and employeeNo != ''">
            and employee_no = #{employeeNo}
        </if>
        <if test="singleAwardGrainValue != null">
            and single_award_grain_value = #{singleAwardGrainValue}
        </if>
        <if test="enterprId != null">
            and enterpr_id = #{enterprId}
        </if>
        <if test="created != null">
            and created = #{created}
        </if>
        <if test="updated != null">
            and updated = #{updated}
        </if>
        LIMIT #{page}, #{pageSize}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grain_special_person
        where special_person_id = #{id,jdbcType=BIGINT}
    </select>
    <select id="countGrainSpecialPersonList"  parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(*)
        from grain_special_person
        where 1=1
        <if test="enterprId != null">
            and enterpr_id = #{enterprId}
        </if>
    </select>
    <delete id="delete" parameterType="java.lang.Long">
    delete from grain_special_person
    where special_person_id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.lx.benefits.bean.dto.grain.GrainSpecialPerson" useGeneratedKeys="true" keyProperty="specialPersonId">
    insert into grain_special_person (special_person_id, employee_id, employee_name,
      single_award_grain_value, enterpr_id,
      created, updated,employee_no)
    values (#{specialPersonId,jdbcType=BIGINT}, #{employeeId,jdbcType=BIGINT}, #{employeeName,jdbcType=VARCHAR},
      #{singleAwardGrainValue,jdbcType=DOUBLE},#{enterprId,jdbcType=BIGINT},
      #{created,jdbcType=INTEGER}, #{updated,jdbcType=INTEGER},#{employeeNo,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lx.benefits.bean.dto.grain.GrainSpecialPerson">
        update grain_special_person
        <set>
            <if test="employeeId != null">
                employee_id = #{employeeId,jdbcType=BIGINT},
            </if>
            <if test="employeeName != null and employeeName != ''">
                employee_name = #{employeeName,jdbcType=VARCHAR},
            </if>
            <if test="singleAwardGrainValue != null">
                single_award_grain_value = #{singleAwardGrainValue,jdbcType=DOUBLE},
            </if>
            <if test="enterprId != null">
                enterpr_id = #{enterprId,jdbcType=BIGINT},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=INTEGER},
            </if>
            <if test="updated != null">
                updated = #{updated,jdbcType=INTEGER},
            </if>
        </set>
        where special_person_id = #{specialPersonId,jdbcType=BIGINT}
    </update>
</mapper>