<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.grain.GrainInfoMapper">
    <resultMap id="BaseResultMap" type="com.lx.benefits.bean.dto.grain.GrainInfo">
        <id column="grain_id" jdbcType="BIGINT" property="grainId" />
        <result column="enterpr_id" jdbcType="BIGINT" property="enterprId" />
        <result column="enterpr_name" jdbcType="VARCHAR" property="enterprName" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="is_suspend" jdbcType="TINYINT" property="isSuspend" />
        <result column="receive_value" jdbcType="DOUBLE" property="receiveValue" />
        <result column="cumulation_read_quantity" jdbcType="INTEGER" property="cumulationReadQuantity" />
        <result column="left_grain_value" jdbcType="DOUBLE" property="leftGrainValue" />
        <result column="typeList" jdbcType="VARCHAR" property="typeList" />
        <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
        <result column="established_time" jdbcType="TIMESTAMP" property="establishedTime" />
        <result column="service_status" jdbcType="INTEGER" property="serviceStatus" />
        <result column="created" jdbcType="INTEGER" property="created" />
        <result column="updated" jdbcType="INTEGER" property="updated" />
    </resultMap>
    <sql id="Base_Column_List">
    grain_id, enterpr_id, enterpr_name, status, receive_value, cumulation_read_quantity,
    left_grain_value,typeList,apply_time,established_time,service_status,
    created,updated,is_suspend
  </sql>

    <select id="findGrainInfoList" parameterType="com.lx.benefits.bean.dto.grain.GrainInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grain_info
        where 1 = 1
        <if test="enterprId != null">
            and enterpr_id = #{enterprId}
        </if>
        <if test="enterprName != null and enterprName != ''">
            and enterpr_name = #{enterprName}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="cumulationReadQuantity != null">
            and cumulation_read_quantity = #{cumulationReadQuantity}
        </if>
        <if test="leftGrainValue != null">
            and left_grain_value = #{leftGrainValue}
        </if>
        <if test="typeList != null">
            and typeList = #{typeList}
        </if>
        <if test="applyTime != null">
            and apply_time = #{applyTime}
        </if>
        <if test="establishedTime != null">
            and established_time = #{establishedTime}
        </if>
        <if test="serviceStatus != null">
            and service_status = #{serviceStatus}
        </if>
        <if test="created != null">
            and created = #{created}
        </if>
        <if test="updated != null">
            and updated = #{updated}
        </if>
        LIMIT #{page}, #{pageSize}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grain_info
        where grain_id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findGrainInfoListByServiceStatus"  parameterType ="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grain_info
        where service_status = 1 or service_status = 2
        order by established_time desc
        LIMIT #{page}, #{pageSize}
    </select>
    <select id="findGrainInfoListByverifyStatus"  parameterType ="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grain_info
        where status = 1
        LIMIT #{page}, #{pageSize}
    </select>
    <select id="countGrainInfoListByverifyStatus"  resultType="java.lang.Integer">
        select
        count(*)
        from grain_info
        where status = 1
    </select>
    <select id="findGrainInfoListByStatus"  parameterType ="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grain_info
        where status = 1
        LIMIT #{page}, #{pageSize}
    </select>
    <select id="countGrainInfoListByStatus"  parameterType ="java.util.Map" resultType="java.lang.Integer">
        select
        count(*)
        from grain_info
        where status = 1
    </select>
    <select id="countGrainInfoListByServiceStatus"  parameterType ="java.util.Map" resultType="java.lang.Integer">
        select
        count(*)
        from grain_info
        where service_status = 1 or service_status = 2
    </select>
    <delete id="delete" parameterType="java.lang.Long">
    delete from grain_info
    where grain_id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.lx.benefits.bean.dto.grain.GrainInfo" useGeneratedKeys="true" keyProperty="grainId">
    insert into grain_info (grain_id, enterpr_id, enterpr_name, status, receive_value, cumulation_read_quantity,
    left_grain_value,typeList,apply_time,established_time,service_status,
    created,updated)
    values (#{grainId,jdbcType=BIGINT}, #{enterprId,jdbcType=BIGINT}, #{enterprName,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{receiveValue,jdbcType=DOUBLE}, #{cumulationReadQuantity,jdbcType=INTEGER},
      #{leftGrainValue,jdbcType=DOUBLE}, #{typeList,jdbcType=VARCHAR}, #{applyTime,jdbcType=TIMESTAMP},
      #{establishedTime,jdbcType=TIMESTAMP}, #{serviceStatus,jdbcType=INTEGER},
      #{created,jdbcType=INTEGER}, #{updated,jdbcType=INTEGER})
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lx.benefits.bean.dto.grain.GrainInfo">
        update grain_info
        <set>
            <if test="enterprId != null">
            enterpr_id = #{enterprId,jdbcType=BIGINT},
            </if>
            <if test="enterprName != null and enterprName != ''">
                enterpr_name = #{enterprName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="isSuspend != null">
                is_suspend = #{isSuspend,jdbcType=INTEGER},
            </if>
            <if test="receiveValue != null">
                receive_value = #{receiveValue,jdbcType=DOUBLE},
            </if>
            <if test="cumulationReadQuantity != null">
                cumulation_read_quantity = #{cumulationReadQuantity,jdbcType=INTEGER},
            </if>
            <if test="leftGrainValue != null">
                left_grain_value = #{leftGrainValue,jdbcType=DOUBLE},
            </if>
            <if test="typeList != null and typeList != ''">
                typeList = #{typeList,jdbcType=VARCHAR},
            </if>
            <if test="applyTime != null">
                apply_time = #{applyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="establishedTime != null">
                established_time = #{establishedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="serviceStatus != null">
                service_status = #{serviceStatus,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=INTEGER},
            </if>
            <if test="updated != null">
                updated = #{updated,jdbcType=INTEGER},
            </if>
        </set>
        where grain_id = #{grainId,jdbcType=BIGINT}
    </update>
</mapper>