<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.grain.GrainArticleInfoMapper">
    <resultMap id="BaseResultMap" type="com.lx.benefits.bean.dto.grain.GrainArticleInfo">
        <id column="article_id" jdbcType="BIGINT" property="articleId" />
        <id column="grain_id" jdbcType="BIGINT" property="grainId" />
        <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
        <result column="article_content" jdbcType="VARCHAR" property="articleContent" />
        <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="publish_person" jdbcType="VARCHAR" property="publishPerson" />
        <result column="publish_enterprise" jdbcType="VARCHAR" property="publishEnterprise" />
        <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
        <result column="publish_person_id" jdbcType="BIGINT" property="publishPersonId" />
        <result column="single_grain_award_value" jdbcType="DOUBLE" property="singleGrainAwardValue" />
        <result column="is_custom" jdbcType="INTEGER" property="isCustom" />
        <result column="is_hot" jdbcType="INTEGER" property="isHot" />
        <result column="is_screen" jdbcType="INTEGER" property="isScreen" />
        <result column="is_read" jdbcType="INTEGER" property="isRead" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="verify_status" jdbcType="INTEGER" property="verifyStatus" />
        <result column="article_read_time" jdbcType="INTEGER" property="articleReadTime" />
        <result column="read_quantity" jdbcType="INTEGER" property="readQuantity" />
        <result column="cumulation_award_value" jdbcType="DOUBLE" property="cumulationAwardValue" />
        <result column="created" jdbcType="INTEGER" property="created" />
        <result column="updated" jdbcType="INTEGER" property="updated" />
    </resultMap>
    <sql id="Base_Column_List">
    article_id, article_title, article_content, publish_time, publish_person, publish_person_id,
    single_grain_award_value,is_custom,is_hot,status,article_read_time,cumulation_award_value,
    created,updated,update_time,read_quantity,verify_status,grain_id,image_path,publish_enterprise,is_read
  </sql>

    <select id="findGrainArticleInfoList" parameterType="com.lx.benefits.bean.dto.grain.GrainArticleInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grain_article_info
        where 1 = 1
        <if test="articleId != null">
            and article_id = #{articleId}
        </if>
        <if test="grainId != null">
            and grain_id = #{grainId}
        </if>
        <if test="articleTitle != null and articleTitle != ''">
            and article_title like concat('%',#{articleTitle},'%')
        </if>
        <if test="articleContent != null and articleContent != ''">
            and article_content = #{articleContent}
        </if>
        <if test="publishTime != null">
            and publish_time = #{publishTime}
        </if>
        <if test="publishPerson != null and publishPerson !=''">
            and publish_person like concat('%',#{publishPerson},'%')
        </if>
        <if test="publishPersonId != null">
            and publish_person_id = #{publishPersonId}
        </if>
        <if test="singleGrainAwardValue != null">
            and single_grain_award_value = #{singleGrainAwardValue}
        </if>
        <if test="isCustom != null">
            and is_custom = #{isCustom}
        </if>
        <if test="isHot != null">
            and is_hot = #{isHot}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="verifyStatus != null">
            and verify_status = #{verifyStatus}
        </if>
        <if test="articleReadTime != null">
            and article_read_time = #{articleReadTime}
        </if>
        <if test="cumulationAwardValue != null">
            and cumulation_award_value = #{cumulationAwardValue}
        </if>
        <if test="created != null">
            and created = #{created}
        </if>
        <if test="updated != null">
            and updated = #{updated}
        </if>
        order by update_time desc
        LIMIT #{page}, #{pageSize}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grain_article_info
        where article_id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findGrainArticleInfoListByOpenAwardStatus"  parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grain_article_info
        where status = 2
        <if test="grainId != null">
            and grain_id = #{grainId}
        </if>
        LIMIT #{page}, #{pageSize}
    </select>
    <select id="findGrainArticleInfoListBySuspendOpenAwardStatus"  parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grain_article_info
        where (status = 2 or status = 1)
        <if test="grainId != null">
            and grain_id = #{grainId}
        </if>
        <if test="isScreen != null">
            and is_screen =#{isScreen}
        </if>
        order by is_hot desc,update_time desc
        LIMIT #{page}, #{pageSize}
    </select>
    <select id="countGrainArticleInfoListBySuspendOpenAwardStatus"  resultType="java.lang.Integer" parameterType="java.util.Map">
        select
        count(*)
        from grain_article_info
        where (status = 2 or status = 1)
        <if test="isScreen != null">
            and is_screen =#{isScreen}
        </if>
    </select>
    <select id="countGrainArticleInfoListByOpenAwardStatus"  parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(*)
        from grain_article_info
        where status = 2
        <if test="grainId != null">
            and grain_id = #{grainId}
        </if>
    </select>
    <select id="calculateGrainArticleInfoListByOpenAwardStatus" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        sum(read_quantity)
        from grain_article_info
        where (status = 2 or status =1)
        <if test="grainId != null">
            and grain_id = #{grainId}
        </if>
    </select>
    <select id="findGrainArticleInfoListByStatus" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grain_article_info
        where 1=1
        <if test="articleTitle != null and articleTitle != ''">
            and article_title like concat('%',#{articleTitle},'%')
        </if>
        <if test="publishPerson != null and publishPerson !=''">
            and publish_person like concat('%',#{publishPerson},'%')
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and (date(publish_time) between date(#{startTime}) and date(#{endTime}))
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="status == null">
            and (status = 1 or status = 2)
        </if>
        <if test="grainId != null">
            and grain_id = #{grainId}
        </if>
        order by is_hot desc,publish_time desc
        LIMIT #{page}, #{pageSize}
    </select>

    <select id="findGrainArticleInfoListByVerifyStatus" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from grain_article_info
        where 1=1
        <if test="articleTitle != null and articleTitle != ''">
            and article_title like concat('%',#{articleTitle},'%')
        </if>
        <if test="publishPerson != null and publishPerson !=''">
            and publish_person like concat('%',#{publishPerson},'%')
        </if>
        <if test="publishEnterprise != null and publishEnterprise !=''">
            and publish_enterprise like concat('%',#{publishEnterprise},'%')
        </if>
        <if test="verifyStatus != null">
            and verify_status = #{verifyStatus}
        </if>
        <if test="verifyStatus == null">
            and (verify_status = 1 or verify_status = 2 or verify_status = 3)
        </if>
        <if test="grainId != null">
            and grain_id = #{grainId}
        </if>
        order by update_time desc
        LIMIT #{page}, #{pageSize}
    </select>

    <select id="countGrainArticleInfoListByVerifyStatus" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(*)
        from grain_article_info
        where 1=1
        <if test="articleTitle != null and articleTitle != ''">
            and article_title like concat('%',#{articleTitle},'%')
        </if>
        <if test="publishPerson != null and publishPerson !=''">
            and publish_person like concat('%',#{publishPerson},'%')
        </if>
        <if test="publishEnterprise != null and publishEnterprise !=''">
            and publish_enterprise like concat('%',#{publishEnterprise},'%')
        </if>
        <if test="verifyStatus != null">
            and verify_status = #{verifyStatus}
        </if>
        <if test="verifyStatus == null">
            and (verify_status = 1 or verify_status = 2 or verify_status = 3)
        </if>
        <if test="grainId != null">
            and grain_id = #{grainId}
        </if>
    </select>

    <select id="countGrainArticleInfoListByStatus" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(*)
        from grain_article_info
        where 1=1
        <if test="articleTitle != null and articleTitle != ''">
            and article_title like concat('%',#{articleTitle},'%')
        </if>
        <if test="publishPerson != null and publishPerson !=''">
            and publish_person like concat('%',#{publishPerson},'%')
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and (date(publish_time) between date(#{startTime}) and date(#{endTime}))
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="status == null">
            and (status = 1 or status = 2)
        </if>
        <if test="grainId != null">
            and grain_id = #{grainId}
        </if>
    </select>
    <select id="countGrainArticleInfoList" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
        count(*)
        from grain_article_info
        where 1=1
        <if test="articleTitle != null and articleTitle != ''">
            and article_title like concat('%',#{articleTitle},'%')
        </if>
        <if test="publishPerson != null and publishPerson !=''">
            and publish_person like concat('%',#{publishPerson},'%')
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="verifyStatus != null">
            and verify_status = #{verifyStatus}
        </if>
        <if test="grainId != null">
            and grain_id = #{grainId}
        </if>
    </select>
    <delete id="delete" parameterType="java.lang.Long">
    delete from grain_article_info
    where article_id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.lx.benefits.bean.dto.grain.GrainArticleInfo" useGeneratedKeys="true" keyProperty="articleId">
    insert into grain_article_info (article_id, article_title, article_content, publish_time, publish_person, publish_person_id,
    single_grain_award_value,is_custom,is_hot,status,article_read_time,cumulation_award_value,
    created,updated,update_time,read_quantity,grain_id,image_path,verify_status,publish_enterprise)
    values (#{articleId,jdbcType=BIGINT}, #{articleTitle,jdbcType=VARCHAR}, #{articleContent,jdbcType=VARCHAR},
      #{publishTime,jdbcType=TIMESTAMP}, #{publishPerson,jdbcType=VARCHAR}, #{publishPersonId,jdbcType=BIGINT},
      #{singleGrainAwardValue,jdbcType=DOUBLE}, #{isCustom,jdbcType=INTEGER}, #{isHot,jdbcType=INTEGER},
      #{status,jdbcType=INTEGER}, #{articleReadTime,jdbcType=INTEGER},#{cumulationAwardValue,jdbcType=DOUBLE},
      #{created,jdbcType=INTEGER}, #{updated,jdbcType=INTEGER},#{updateTime,jdbcType=TIMESTAMP},
      #{readQuantity,jdbcType=INTEGER},#{grainId,jdbcType=BIGINT},#{imagePath,jdbcType=VARCHAR},#{verifyStatus,jdbcType=INTEGER},
      #{publishEnterprise,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lx.benefits.bean.dto.grain.GrainArticleInfo">
        update grain_article_info
        <set>
            <if test="articleId != null">
                article_id = #{articleId,jdbcType=BIGINT},
            </if>
            <if test="articleTitle != null and articleTitle != ''">
                article_title = #{articleTitle,jdbcType=VARCHAR},
            </if>
            <if test="articleContent != null and articleContent != ''">
                article_content = #{articleContent,jdbcType=VARCHAR},
            </if>
            <if test="publishTime != null">
                publish_time = #{publishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="publishPerson != null and publishPerson != ''">
                publish_person = #{publishPerson,jdbcType=VARCHAR},
            </if>
            <if test="imagePath != null and imagePath != ''">
                image_path = #{imagePath,jdbcType=VARCHAR},
            </if>
            <if test="publishPersonId != null">
                publish_person_id = #{publishPersonId,jdbcType=BIGINT},
            </if>
            <if test="singleGrainAwardValue != null">
                single_grain_award_value = #{singleGrainAwardValue,jdbcType=DOUBLE},
            </if>
            <if test="isCustom != null">
                is_custom = #{isCustom,jdbcType=INTEGER},
            </if>
            <if test="isHot != null">
                is_hot = #{isHot,jdbcType=INTEGER},
            </if>
            <if test="isRead != null">
                is_read = #{isRead,jdbcType=INTEGER},
            </if>
            <if test="isScreen != null">
                is_screen = #{isScreen,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="verifyStatus != null">
                verify_status = #{verifyStatus,jdbcType=INTEGER},
            </if>
            <if test="articleReadTime != null">
                article_read_time = #{articleReadTime,jdbcType=INTEGER},
            </if>
            <if test="readQuantity != null">
                read_quantity = #{readQuantity,jdbcType=INTEGER},
            </if>
            <if test="cumulationAwardValue != null">
                cumulation_award_value = cumulation_award_value + #{cumulationAwardValue,jdbcType=DOUBLE},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=INTEGER},
            </if>
            <if test="updated != null">
                updated = #{updated,jdbcType=INTEGER},
            </if>
        </set>
        where 1=1
        <if test="articleId != null">
            and article_id = #{articleId,jdbcType=BIGINT}
        </if>
        <if test="grainId != null">
            and grain_id = #{grainId,jdbcType=BIGINT}
        </if>
    </update>
</mapper>
