<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.benefits.mapper.enterprcustomprice.EnterprCustomPriceMapper">
  <resultMap id="BaseResultMap" type="com.lx.benefits.bean.entity.enterprcustomprice.EnterprCustomPrice">
    <id column="customId" jdbcType="BIGINT" property="customId" />
    <result column="enterprId" jdbcType="BIGINT" property="enterprId" />
    <result column="goodsId" jdbcType="BIGINT" property="goodsId" />
    <result column="goodsPrice" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="isDeleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="created" jdbcType="INTEGER" property="created" />
    <result column="updated" jdbcType="INTEGER" property="updated" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="supplier_id" jdbcType="VARCHAR" property="supplierId" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="createdUser" jdbcType="VARCHAR" property="createdUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    customId, enterprId, goodsId, goodsPrice, isDeleted, created, updated,createdUser,spuId
  </sql>
  <select id="selectByExample" parameterType="com.lx.benefits.bean.entity.enterprcustomprice.EnterprCustomPriceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,sku.goods_price as price,p.goods_name,p.supplier_id,p.supplier_name
    from enterpr_custom_price as ec left join sku as sku on ec.goodsId = sku.id left join product as p on ec.spuId = p.spu_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null and pageSize != null">
      LIMIT #{start}, #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from enterpr_custom_price
    where customId = #{customId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from enterpr_custom_price
    where customId = #{customId,jdbcType=BIGINT} LIMIT 1
  </delete>
  <delete id="deleteByExample" parameterType="com.lx.benefits.bean.entity.enterprcustomprice.EnterprCustomPriceExample">
    delete from enterpr_custom_price
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lx.benefits.bean.entity.enterprcustomprice.EnterprCustomPrice">
    insert into enterpr_custom_price (customId, enterprId, goodsId, 
      goodsPrice, isDeleted, created, 
      updated)
    values (#{customId,jdbcType=BIGINT}, #{enterprId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, 
      #{goodsPrice,jdbcType=DECIMAL}, #{isDeleted,jdbcType=INTEGER}, UNIX_TIMESTAMP(NOW()), 
      UNIX_TIMESTAMP(NOW()))
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="customId" parameterType="com.lx.benefits.bean.entity.enterprcustomprice.EnterprCustomPrice">
    insert into enterpr_custom_price
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customId != null">
        customId,
      </if>
      <if test="enterprId != null">
        enterprId,
      </if>
      <if test="goodsId != null">
        goodsId,
      </if>
      <if test="goodsPrice != null">
        goodsPrice,
      </if>
      <if test="isDeleted != null">
        isDeleted,
      </if>
      created, updated
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customId != null">
        #{customId,jdbcType=BIGINT},
      </if>
      <if test="enterprId != null">
        #{enterprId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      UNIX_TIMESTAMP(NOW()), UNIX_TIMESTAMP(NOW())
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lx.benefits.bean.entity.enterprcustomprice.EnterprCustomPriceExample" resultType="java.lang.Integer">
    select count(*) from enterpr_custom_price
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update enterpr_custom_price
    <set>
      <if test="record.customId != null">
        customId = #{record.customId,jdbcType=BIGINT},
      </if>
      <if test="record.enterprId != null">
        enterprId = #{record.enterprId,jdbcType=BIGINT},
      </if>
      <if test="record.goodsId != null">
        goodsId = #{record.goodsId,jdbcType=BIGINT},
      </if>
      <if test="record.goodsPrice != null">
        goodsPrice = #{record.goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.isDeleted != null">
        isDeleted = #{record.isDeleted,jdbcType=INTEGER},
      </if>
      updated =UNIX_TIMESTAMP(NOW())
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update enterpr_custom_price
    set customId = #{record.customId,jdbcType=BIGINT},
      enterprId = #{record.enterprId,jdbcType=BIGINT},
      goodsId = #{record.goodsId,jdbcType=BIGINT},
      goodsPrice = #{record.goodsPrice,jdbcType=DECIMAL},
      isDeleted = #{record.isDeleted,jdbcType=INTEGER},
      updated = UNIX_TIMESTAMP(NOW())
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lx.benefits.bean.entity.enterprcustomprice.EnterprCustomPrice">
    update enterpr_custom_price
    <set>
      <if test="enterprId != null">
        enterprId = #{enterprId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        goodsId = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsPrice != null">
        goodsPrice = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null">
        isDeleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      updated = UNIX_TIMESTAMP(NOW())
    </set>
    where customId = #{customId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lx.benefits.bean.entity.enterprcustomprice.EnterprCustomPrice">
    update enterpr_custom_price
    set enterprId = #{enterprId,jdbcType=BIGINT},
      goodsId = #{goodsId,jdbcType=BIGINT},
      goodsPrice = #{goodsPrice,jdbcType=DECIMAL},
      isDeleted = #{isDeleted,jdbcType=INTEGER},
      updated = UNIX_TIMESTAMP(NOW())
    where customId = #{customId,jdbcType=BIGINT}
  </update>

  <insert id="insertBatch" parameterType="java.util.List">
    insert into enterpr_custom_price ( enterprId, goodsId,spuId,goodsPrice, isDeleted,
    created,createdUser,updated)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.enterprId},#{item.goodsId},#{item.spuId},#{item.goodsPrice},#{item.isDeleted},
      UNIX_TIMESTAMP(NOW()),#{item.createdUser},UNIX_TIMESTAMP(NOW()))
    </foreach>
  </insert>


  <update id="updateBatch"  parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      update enterpr_custom_price
      <set>
        <if test="item.goodsPrice != null  ">goodsPrice = #{item.goodsPrice},</if>
        <if test="item.updatedUser != null  ">updatedUser = #{item.updatedUser},</if>
      </set>
      where customId = ${item.customId}
    </foreach>
  </update>

  <select id="selectPageList" parameterType="com.lx.benefits.bean.entity.enterprcustomprice.EnterprCustomPrice" resultMap="BaseResultMap">
    select ec.*,p.goods_name,p.supplier_name from enterpr_custom_price as ec
    left join product as p on ec.spuId = p.spu_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <select id="selectByParam" parameterType="com.lx.benefits.bean.entity.enterprcustomprice.EnterprCustomPriceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from enterpr_custom_price
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page != null and pageSize != null">
      LIMIT #{start}, #{pageSize}
    </if>
  </select>

</mapper>